flow.json
[{"id":"8302acc5.431a1","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c930ad8.513bad","type":"tab","label":"Person Health Info","disabled":false,"info":""},{"id":"d745d1c0.40e63","type":"tab","label":"Smoke Sensor","disabled":false,"info":""},{"id":"659dff53.1f7828","type":"tab","label":"Door-Window Status","disabled":false,"info":""},{"id":"6ff9609c.c6929","type":"tab","label":"Photo-Carousel","disabled":false,"info":""},{"id":"85bf3239.daa2a","type":"tab","label":"Home-Dashboard","disabled":false,"info":""},{"id":"c63007d6.27298","type":"tab","label":"Upload Photo","disabled":false,"info":""},{"id":"2059ab5d.4f3804","type":"tab","label":"Face Recognition","disabled":false,"info":""},{"id":"6f039fb4.abf108","type":"tab","label":"DoorController","disabled":false,"info":""},{"id":"8427affb.2452","type":"AnamicoAlarmPanel","z":"","name":""},{"id":"2d840ff3.46dc18","type":"websocket-listener","z":"","path":"/myapp","wholemsg":"false"},{"id":"a2fb4c51.857a78","type":"mqtt-broker","z":"","name":"","broker":"ws://127.0.0.1:9001/mqtt","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"6e1b759f.14e594","type":"ui_tab","z":"","name":"HomeDashboard","icon":"dashboard","disabled":false,"hidden":false},{"id":"a4a82ed6.256348","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Ambient Assited Living System Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"e3a4ae73.9cfcd8","type":"ui_group","z":"","name":"SmokeSensor","tab":"51336593.79e314","order":1,"disp":true,"width":"6","collapse":false},{"id":"991746a1.de95d","type":"ui_group","z":"","name":"FaceRecognition","tab":"46c39f50.15a138","order":3,"disp":true,"width":"6","collapse":false},{"id":"ed3d85c6.fa598","type":"ui_group","z":"","name":"DoorStatus","tab":"46c39f50.15a138","order":2,"disp":true,"width":"6","collapse":false},{"id":"e47ce90a.b775c","type":"ui_group","z":"","name":"PhotoDashboard","tab":"6e1b759f.14e594","order":2,"disp":true,"width":16,"collapse":false},{"id":"19628936.709a87","type":"ui_group","z":"","name":"Signin","tab":"6e1b759f.14e594","order":1,"disp":true,"width":"6","collapse":false},{"id":"b0c8c674.acae2","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1d38a221.40a05e","type":"ui_group","z":"","name":"DoorControl","tab":"46c39f50.15a138","order":1,"disp":true,"width":"6","collapse":false},{"id":"b7bf998a.a16a08","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8bb2ba54.34f45","type":"ui_group","z":"","name":"HealthInformation","tab":"13b812c8.9f3e75","order":9,"disp":true,"width":"6","collapse":false},{"id":"d8540bd8.f937c","type":"MySQLdatabase","z":"","name":"","host":"127.0.0.1","port":"3306","db":"photostorage","tz":""},{"id":"13b812c8.9f3e75","type":"ui_tab","z":"","name":"BasicHealthInfo","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"46c39f50.15a138","type":"ui_tab","z":"","name":"HomeSecurity","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"51336593.79e314","type":"ui_tab","z":"","name":"HomeSafety","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"6137b7ce.a60078","type":"ui_group","z":"","name":"UploadPhoto","tab":"47df776f.6337a8","order":2,"disp":true,"width":8,"collapse":false},{"id":"47df776f.6337a8","type":"ui_tab","z":"","name":"PhotoStore","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"c2e277bc.c68db","type":"inject","z":"c930ad8.513bad","name":"","topic":"person/name","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":80,"wires":[["f8f83e1e.111b1"]]},{"id":"b26a5ec7.eae38","type":"function","z":"c930ad8.513bad","name":"","func":"var data = 0;\n   data = Math.floor(Math.random() * 200) + 1;\n   msg.payload=data;\n  return msg;","outputs":1,"noerr":0,"x":490,"y":100,"wires":[["764c1b41.d5043c","996f8524.533a3"]]},{"id":"8ed6801f.88df8","type":"function","z":"c930ad8.513bad","name":"","func":"var data = 0;\n   data = Math.floor(Math.random() * 300) + 1;\n   msg.payload=data;\n  return msg;","outputs":1,"noerr":0,"x":490,"y":160,"wires":[["764c1b41.d5043c","996f8524.533a3"]]},{"id":"764c1b41.d5043c","type":"debug","z":"c930ad8.513bad","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":850,"y":60,"wires":[]},{"id":"f8f83e1e.111b1","type":"function","z":"c930ad8.513bad","name":"","func":"function capFirst(string) {\n    return string.charAt(0).toUpperCase() + string.slice(1);\n}\n\nfunction getRandomInt(min, max) {\n  \treturn Math.floor(Math.random() * (max - min)) + min;\n}\n\tvar name1 = [\"abandoned\",\"able\",\"absolute\",\"adorable\",\"adventurous\",\"academic\",\"acceptable\",\"acclaimed\",\"accomplished\",\"accurate\",\"aching\",\"acidic\",\"acrobatic\",\"active\",\"actual\",\"adept\",\"admirable\",\"admired\",\"adolescent\",\"adorable\",\"adored\",\"advanced\",\"afraid\",\"affectionate\",\"aged\",\"aggravating\",\"aggressive\",\"agile\",\"agitated\",\"agonizing\",\"agreeable\",\"ajar\",\"alarmed\",\"alarming\",\"alert\",\"alienated\",\"alive\",\"all\",\"altruistic\",\"amazing\",\"ambitious\",\"ample\",\"amused\",\"amusing\",\"anchored\",\"ancient\",\"angelic\",\"angry\",\"anguished\",\"animated\",\"annual\",\"another\",\"antique\",\"anxious\",\"any\",\"apprehensive\",\"appropriate\",\"apt\",\"arctic\",\"arid\",\"aromatic\",\"artistic\",\"ashamed\",\"assured\",\"astonishing\",\"athletic\",\"attached\",\"attentive\",\"attractive\",\"austere\",\"authentic\",\"authorized\",\"automatic\",\"avaricious\",\"average\",\"aware\",\"awesome\",\"awful\",\"awkward\",\"babyish\",\"bad\",\"back\",\"baggy\",\"bare\",\"barren\",\"basic\",\"beautiful\",\"belated\",\"beloved\",\"beneficial\",\"better\",\"best\",\"bewitched\",\"big\",\"big-hearted\",\"biodegradable\",\"bite-sized\",\"bitter\",\"black\",\"black-and-white\",\"bland\",\"blank\",\"blaring\",\"bleak\",\"blind\",\"blissful\",\"blond\",\"blue\",\"blushing\",\"bogus\",\"boiling\",\"bold\",\"bony\",\"boring\",\"bossy\",\"both\",\"bouncy\",\"bountiful\",\"bowed\",\"brave\",\"breakable\",\"brief\",\"bright\",\"brilliant\",\"brisk\",\"broken\",\"bronze\",\"brown\",\"bruised\",\"bubbly\",\"bulky\",\"bumpy\",\"buoyant\",\"burdensome\",\"burly\",\"bustling\",\"busy\",\"buttery\",\"buzzing\",\"calculating\",\"calm\",\"candid\",\"canine\",\"capital\",\"carefree\",\"careful\",\"careless\",\"caring\",\"cautious\",\"cavernous\",\"celebrated\",\"charming\",\"cheap\",\"cheerful\",\"cheery\",\"chief\",\"chilly\",\"chubby\",\"circular\",\"classic\",\"clean\",\"clear\",\"clear-cut\",\"clever\",\"close\",\"closed\",\"cloudy\",\"clueless\",\"clumsy\",\"cluttered\",\"coarse\",\"cold\",\"colorful\",\"colorless\",\"colossal\",\"comfortable\",\"common\",\"compassionate\",\"competent\",\"complete\",\"complex\",\"complicated\",\"composed\",\"concerned\",\"concrete\",\"confused\",\"conscious\",\"considerate\",\"constant\",\"content\",\"conventional\",\"cooked\",\"cool\",\"cooperative\",\"coordinated\",\"corny\",\"corrupt\",\"costly\",\"courageous\",\"courteous\",\"crafty\",\"crazy\",\"creamy\",\"creative\",\"creepy\",\"criminal\",\"crisp\",\"critical\",\"crooked\",\"crowded\",\"cruel\",\"crushing\",\"cuddly\",\"cultivated\",\"cultured\",\"cumbersome\",\"curly\",\"curvy\",\"cute\",\"cylindrical\",\"damaged\",\"damp\",\"dangerous\",\"dapper\",\"daring\",\"darling\",\"dark\",\"dazzling\",\"dead\",\"deadly\",\"deafening\",\"dear\",\"dearest\",\"decent\",\"decimal\",\"decisive\",\"deep\",\"defenseless\",\"defensive\",\"defiant\",\"deficient\",\"definite\",\"definitive\",\"delayed\",\"delectable\",\"delicious\",\"delightful\",\"delirious\",\"demanding\",\"dense\",\"dental\",\"dependable\",\"dependent\",\"descriptive\",\"deserted\",\"detailed\",\"determined\",\"devoted\",\"different\",\"difficult\",\"digital\",\"diligent\",\"dim\",\"dimpled\",\"dimwitted\",\"direct\",\"disastrous\",\"discrete\",\"disfigured\",\"disgusting\",\"disloyal\",\"dismal\",\"distant\",\"downright\",\"dreary\",\"dirty\",\"disguised\",\"dishonest\",\"dismal\",\"distant\",\"distinct\",\"distorted\",\"dizzy\",\"dopey\",\"doting\",\"double\",\"downright\",\"drab\",\"drafty\",\"dramatic\",\"dreary\",\"droopy\",\"dry\",\"dual\",\"dull\",\"dutiful\",\"each\",\"eager\",\"earnest\",\"early\",\"easy\",\"easy-going\",\"ecstatic\",\"edible\",\"educated\",\"elaborate\",\"elastic\",\"elated\",\"elderly\",\"electric\",\"elegant\",\"elementary\",\"elliptical\",\"embarrassed\",\"embellished\",\"eminent\",\"emotional\",\"empty\",\"enchanted\",\"enchanting\",\"energetic\",\"enlightened\",\"enormous\",\"enraged\",\"entire\",\"envious\",\"equal\",\"equatorial\",\"essential\",\"esteemed\",\"ethical\",\"euphoric\",\"even\",\"evergreen\",\"everlasting\",\"every\",\"evil\",\"exalted\",\"excellent\",\"exemplary\",\"exhausted\",\"excitable\",\"excited\",\"exciting\",\"exotic\",\"expensive\",\"experienced\",\"expert\",\"extraneous\",\"extroverted\",\"extra-large\",\"extra-small\",\"fabulous\",\"failing\",\"faint\",\"fair\",\"faithful\",\"fake\",\"false\",\"familiar\",\"famous\",\"fancy\",\"fantastic\",\"far\",\"faraway\",\"far-flung\",\"far-off\",\"fast\",\"fat\",\"fatal\",\"fatherly\",\"favorable\",\"favorite\",\"fearful\",\"fearless\",\"feisty\",\"feline\",\"female\",\"feminine\",\"few\",\"fickle\",\"filthy\",\"fine\",\"finished\",\"firm\",\"first\",\"firsthand\",\"fitting\",\"fixed\",\"flaky\",\"flamboyant\",\"flashy\",\"flat\",\"flawed\",\"flawless\",\"flickering\",\"flimsy\",\"flippant\",\"flowery\",\"fluffy\",\"fluid\",\"flustered\",\"focused\",\"fond\",\"foolhardy\",\"foolish\",\"forceful\",\"forked\",\"formal\",\"forsaken\",\"forthright\",\"fortunate\",\"fragrant\",\"frail\",\"frank\",\"frayed\",\"free\",\"French\",\"fresh\",\"frequent\",\"friendly\",\"frightened\",\"frightening\",\"frigid\",\"frilly\",\"frizzy\",\"frivolous\",\"front\",\"frosty\",\"frozen\",\"frugal\",\"fruitful\",\"full\",\"fumbling\",\"functional\",\"funny\",\"fussy\",\"fuzzy\",\"gargantuan\",\"gaseous\",\"general\",\"generous\",\"gentle\",\"genuine\",\"giant\",\"giddy\",\"gigantic\",\"gifted\",\"giving\",\"glamorous\",\"glaring\",\"glass\",\"gleaming\",\"gleeful\",\"glistening\",\"glittering\",\"gloomy\",\"glorious\",\"glossy\",\"glum\",\"golden\",\"good\",\"good-natured\",\"gorgeous\",\"graceful\",\"gracious\",\"grand\",\"grandiose\",\"granular\",\"grateful\",\"grave\",\"gray\",\"great\",\"greedy\",\"green\",\"gregarious\",\"grim\",\"grimy\",\"gripping\",\"grizzled\",\"gross\",\"grotesque\",\"grouchy\",\"grounded\",\"growing\",\"growling\",\"grown\",\"grubby\",\"gruesome\",\"grumpy\",\"guilty\",\"gullible\",\"gummy\",\"hairy\",\"half\",\"handmade\",\"handsome\",\"handy\",\"happy\",\"happy-go-lucky\",\"hard\",\"hard-to-find\",\"harmful\",\"harmless\",\"harmonious\",\"harsh\",\"hasty\",\"hateful\",\"haunting\",\"healthy\",\"heartfelt\",\"hearty\",\"heavenly\",\"heavy\",\"hefty\",\"helpful\",\"helpless\",\"hidden\",\"hideous\",\"high\",\"high-level\",\"hilarious\",\"hoarse\",\"hollow\",\"homely\",\"honest\",\"honorable\",\"honored\",\"hopeful\",\"horrible\",\"hospitable\",\"hot\",\"huge\",\"humble\",\"humiliating\",\"humming\",\"humongous\",\"hungry\",\"hurtful\",\"husky\",\"icky\",\"icy\",\"ideal\",\"idealistic\",\"identical\",\"idle\",\"idiotic\",\"idolized\",\"ignorant\",\"ill\",\"illegal\",\"ill-fated\",\"ill-informed\",\"illiterate\",\"illustrious\",\"imaginary\",\"imaginative\",\"immaculate\",\"immaterial\",\"immediate\",\"immense\",\"impassioned\",\"impeccable\",\"impartial\",\"imperfect\",\"imperturbable\",\"impish\",\"impolite\",\"important\",\"impossible\",\"impractical\",\"impressionable\",\"impressive\",\"improbable\",\"impure\",\"inborn\",\"incomparable\",\"incompatible\",\"incomplete\",\"inconsequential\",\"incredible\",\"indelible\",\"inexperienced\",\"indolent\",\"infamous\",\"infantile\",\"infatuated\",\"inferior\",\"infinite\",\"informal\",\"innocent\",\"insecure\",\"insidious\",\"insignificant\",\"insistent\",\"instructive\",\"insubstantial\",\"intelligent\",\"intent\",\"intentional\",\"interesting\",\"internal\",\"international\",\"intrepid\",\"ironclad\",\"irresponsible\",\"irritating\",\"itchy\",\"jaded\",\"jagged\",\"jam-packed\",\"jaunty\",\"jealous\",\"jittery\",\"joint\",\"jolly\",\"jovial\",\"joyful\",\"joyous\",\"jubilant\",\"judicious\",\"juicy\",\"jumbo\",\"junior\",\"jumpy\",\"juvenile\",\"kaleidoscopic\",\"keen\",\"key\",\"kind\",\"kindhearted\",\"kindly\",\"klutzy\",\"knobby\",\"knotty\",\"knowledgeable\",\"knowing\",\"known\",\"kooky\",\"kosher\",\"lame\",\"lanky\",\"large\",\"last\",\"lasting\",\"late\",\"lavish\",\"lawful\",\"lazy\",\"leading\",\"lean\",\"leafy\",\"left\",\"legal\",\"legitimate\",\"light\",\"lighthearted\",\"likable\",\"likely\",\"limited\",\"limp\",\"limping\",\"linear\",\"lined\",\"liquid\",\"little\",\"live\",\"lively\",\"livid\",\"loathsome\",\"lone\",\"lonely\",\"long\",\"long-term\",\"loose\",\"lopsided\",\"lost\",\"loud\",\"lovable\",\"lovely\",\"loving\",\"low\",\"loyal\",\"lucky\",\"lumbering\",\"luminous\",\"lumpy\",\"lustrous\",\"luxurious\",\"mad\",\"made-up\",\"magnificent\",\"majestic\",\"major\",\"male\",\"mammoth\",\"married\",\"marvelous\",\"masculine\",\"massive\",\"mature\",\"meager\",\"mealy\",\"mean\",\"measly\",\"meaty\",\"medical\",\"mediocre\",\"medium\",\"meek\",\"mellow\",\"melodic\",\"memorable\",\"menacing\",\"merry\",\"messy\",\"metallic\",\"mild\",\"milky\",\"mindless\",\"miniature\",\"minor\",\"minty\",\"miserable\",\"miserly\",\"misguided\",\"misty\",\"mixed\",\"modern\",\"modest\",\"moist\",\"monstrous\",\"monthly\",\"monumental\",\"moral\",\"mortified\",\"motherly\",\"motionless\",\"mountainous\",\"muddy\",\"muffled\",\"multicolored\",\"mundane\",\"murky\",\"mushy\",\"musty\",\"muted\",\"mysterious\",\"naive\",\"narrow\",\"nasty\",\"natural\",\"naughty\",\"nautical\",\"near\",\"neat\",\"necessary\",\"needy\",\"negative\",\"neglected\",\"negligible\",\"neighboring\",\"nervous\",\"new\",\"next\",\"nice\",\"nifty\",\"nimble\",\"nippy\",\"nocturnal\",\"noisy\",\"nonstop\",\"normal\",\"notable\",\"noted\",\"noteworthy\",\"novel\",\"noxious\",\"numb\",\"nutritious\",\"nutty\",\"obedient\",\"obese\",\"oblong\",\"oily\",\"oblong\",\"obvious\",\"occasional\",\"odd\",\"oddball\",\"offbeat\",\"offensive\",\"official\",\"old\",\"old-fashioned\",\"only\",\"open\",\"optimal\",\"optimistic\",\"opulent\",\"orange\",\"orderly\",\"organic\",\"ornate\",\"ornery\",\"ordinary\",\"original\",\"other\",\"our\",\"outlying\",\"outgoing\",\"outlandish\",\"outrageous\",\"outstanding\",\"oval\",\"overcooked\",\"overdue\",\"overjoyed\",\"overlooked\",\"palatable\",\"pale\",\"paltry\",\"parallel\",\"parched\",\"partial\",\"passionate\",\"past\",\"pastel\",\"peaceful\",\"peppery\",\"perfect\",\"perfumed\",\"periodic\",\"perky\",\"personal\",\"pertinent\",\"pesky\",\"pessimistic\",\"petty\",\"phony\",\"physical\",\"piercing\",\"pink\",\"pitiful\",\"plain\",\"plaintive\",\"plastic\",\"playful\",\"pleasant\",\"pleased\",\"pleasing\",\"plump\",\"plush\",\"polished\",\"polite\",\"political\",\"pointed\",\"pointless\",\"poised\",\"poor\",\"popular\",\"portly\",\"posh\",\"positive\",\"possible\",\"potable\",\"powerful\",\"powerless\",\"practical\",\"precious\",\"present\",\"prestigious\",\"pretty\",\"precious\",\"previous\",\"pricey\",\"prickly\",\"primary\",\"prime\",\"pristine\",\"private\",\"prize\",\"probable\",\"productive\",\"profitable\",\"profuse\",\"proper\",\"proud\",\"prudent\",\"punctual\",\"pungent\",\"puny\",\"pure\",\"purple\",\"pushy\",\"putrid\",\"puzzled\",\"puzzling\",\"quaint\",\"qualified\",\"quarrelsome\",\"quarterly\",\"queasy\",\"querulous\",\"questionable\",\"quick\",\"quick-witted\",\"quiet\",\"quintessential\",\"quirky\",\"quixotic\",\"quizzical\",\"radiant\",\"ragged\",\"rapid\",\"rare\",\"rash\",\"raw\",\"recent\",\"reckless\",\"rectangular\",\"ready\",\"real\",\"realistic\",\"reasonable\",\"red\",\"reflecting\",\"regal\",\"regular\",\"reliable\",\"relieved\",\"remarkable\",\"remorseful\",\"remote\",\"repentant\",\"required\",\"respectful\",\"responsible\",\"repulsive\",\"revolving\",\"rewarding\",\"rich\",\"rigid\",\"right\",\"ringed\",\"ripe\",\"roasted\",\"robust\",\"rosy\",\"rotating\",\"rotten\",\"rough\",\"round\",\"rowdy\",\"royal\",\"rubbery\",\"rundown\",\"ruddy\",\"rude\",\"runny\",\"rural\",\"rusty\",\"sad\",\"safe\",\"salty\",\"same\",\"sandy\",\"sane\",\"sarcastic\",\"sardonic\",\"satisfied\",\"scaly\",\"scarce\",\"scared\",\"scary\",\"scented\",\"scholarly\",\"scientific\",\"scornful\",\"scratchy\",\"scrawny\",\"second\",\"secondary\",\"second-hand\",\"secret\",\"self-assured\",\"self-reliant\",\"selfish\",\"sentimental\",\"separate\",\"serene\",\"serious\",\"serpentine\",\"several\",\"severe\",\"shabby\",\"shadowy\",\"shady\",\"shallow\",\"shameful\",\"shameless\",\"sharp\",\"shimmering\",\"shiny\",\"shocked\",\"shocking\",\"shoddy\",\"short\",\"short-term\",\"showy\",\"shrill\",\"shy\",\"sick\",\"silent\",\"silky\",\"silly\",\"silver\",\"similar\",\"simple\",\"simplistic\",\"sinful\",\"single\",\"sizzling\",\"skeletal\",\"skinny\",\"sleepy\",\"slight\",\"slim\",\"slimy\",\"slippery\",\"slow\",\"slushy\",\"small\",\"smart\",\"smoggy\",\"smooth\",\"smug\",\"snappy\",\"snarling\",\"sneaky\",\"sniveling\",\"snoopy\",\"sociable\",\"soft\",\"soggy\",\"solid\",\"somber\",\"some\",\"spherical\",\"sophisticated\",\"sore\",\"sorrowful\",\"soulful\",\"soupy\",\"sour\",\"Spanish\",\"sparkling\",\"sparse\",\"specific\",\"spectacular\",\"speedy\",\"spicy\",\"spiffy\",\"spirited\",\"spiteful\",\"splendid\",\"spotless\",\"spotted\",\"spry\",\"square\",\"squeaky\",\"squiggly\",\"stable\",\"staid\",\"stained\",\"stale\",\"standard\",\"starchy\",\"stark\",\"starry\",\"steep\",\"sticky\",\"stiff\",\"stimulating\",\"stingy\",\"stormy\",\"straight\",\"strange\",\"steel\",\"strict\",\"strident\",\"striking\",\"striped\",\"strong\",\"studious\",\"stunning\",\"stupendous\",\"stupid\",\"sturdy\",\"stylish\",\"subdued\",\"submissive\",\"substantial\",\"subtle\",\"suburban\",\"sudden\",\"sugary\",\"sunny\",\"super\",\"superb\",\"superficial\",\"superior\",\"supportive\",\"sure-footed\",\"surprised\",\"suspicious\",\"svelte\",\"sweaty\",\"sweet\",\"sweltering\",\"swift\",\"sympathetic\",\"tall\",\"talkative\",\"tame\",\"tan\",\"tangible\",\"tart\",\"tasty\",\"tattered\",\"taut\",\"tedious\",\"teeming\",\"tempting\",\"tender\",\"tense\",\"tepid\",\"terrible\",\"terrific\",\"testy\",\"thankful\",\"that\",\"these\",\"thick\",\"thin\",\"third\",\"thirsty\",\"this\",\"thorough\",\"thorny\",\"those\",\"thoughtful\",\"threadbare\",\"thrifty\",\"thunderous\",\"tidy\",\"tight\",\"timely\",\"tinted\",\"tiny\",\"tired\",\"torn\",\"total\",\"tough\",\"traumatic\",\"treasured\",\"tremendous\",\"tragic\",\"trained\",\"tremendous\",\"triangular\",\"tricky\",\"trifling\",\"trim\",\"trivial\",\"troubled\",\"true\",\"trusting\",\"trustworthy\",\"trusty\",\"truthful\",\"tubby\",\"turbulent\",\"twin\",\"ugly\",\"ultimate\",\"unacceptable\",\"unaware\",\"uncomfortable\",\"uncommon\",\"unconscious\",\"understated\",\"unequaled\",\"uneven\",\"unfinished\",\"unfit\",\"unfolded\",\"unfortunate\",\"unhappy\",\"unhealthy\",\"uniform\",\"unimportant\",\"unique\",\"united\",\"unkempt\",\"unknown\",\"unlawful\",\"unlined\",\"unlucky\",\"unnatural\",\"unpleasant\",\"unrealistic\",\"unripe\",\"unruly\",\"unselfish\",\"unsightly\",\"unsteady\",\"unsung\",\"untidy\",\"untimely\",\"untried\",\"untrue\",\"unused\",\"unusual\",\"unwelcome\",\"unwieldy\",\"unwilling\",\"unwitting\",\"unwritten\",\"upbeat\",\"upright\",\"upset\",\"urban\",\"usable\",\"used\",\"useful\",\"useless\",\"utilized\",\"utter\",\"vacant\",\"vague\",\"vain\",\"valid\",\"valuable\",\"vapid\",\"variable\",\"vast\",\"velvety\",\"venerated\",\"vengeful\",\"verifiable\",\"vibrant\",\"vicious\",\"victorious\",\"vigilant\",\"vigorous\",\"villainous\",\"violet\",\"violent\",\"virtual\",\"virtuous\",\"visible\",\"vital\",\"vivacious\",\"vivid\",\"voluminous\",\"wan\",\"warlike\",\"warm\",\"warmhearted\",\"warped\",\"wary\",\"wasteful\",\"watchful\",\"waterlogged\",\"watery\",\"wavy\",\"wealthy\",\"weak\",\"weary\",\"webbed\",\"wee\",\"weekly\",\"weepy\",\"weighty\",\"weird\",\"welcome\",\"well-documented\",\"well-groomed\",\"well-informed\",\"well-lit\",\"well-made\",\"well-off\",\"well-to-do\",\"well-worn\",\"wet\",\"which\",\"whimsical\",\"whirlwind\",\"whispered\",\"white\",\"whole\",\"whopping\",\"wicked\",\"wide\",\"wide-eyed\",\"wiggly\",\"wild\",\"willing\",\"wilted\",\"winding\",\"windy\",\"winged\",\"wiry\",\"wise\",\"witty\",\"wobbly\",\"woeful\",\"wonderful\",\"wooden\",\"woozy\",\"wordy\",\"worldly\",\"worn\",\"worried\",\"worrisome\",\"worse\",\"worst\",\"worthless\",\"worthwhile\",\"worthy\",\"wrathful\",\"wretched\",\"writhing\",\"wrong\",\"wry\",\"yawning\",\"yearly\",\"yellow\",\"yellowish\",\"young\",\"youthful\",\"yummy\",\"zany\",\"zealous\",\"zesty\",\"zigzag\",\"rocky\"];\n\n\tvar name2 = [\"people\",\"history\",\"way\",\"art\",\"world\",\"information\",\"map\",\"family\",\"government\",\"health\",\"system\",\"computer\",\"meat\",\"year\",\"thanks\",\"music\",\"person\",\"reading\",\"method\",\"data\",\"food\",\"understanding\",\"theory\",\"law\",\"bird\",\"literature\",\"problem\",\"software\",\"control\",\"knowledge\",\"power\",\"ability\",\"economics\",\"love\",\"internet\",\"television\",\"science\",\"library\",\"nature\",\"fact\",\"product\",\"idea\",\"temperature\",\"investment\",\"area\",\"society\",\"activity\",\"story\",\"industry\",\"media\",\"thing\",\"oven\",\"community\",\"definition\",\"safety\",\"quality\",\"development\",\"language\",\"management\",\"player\",\"variety\",\"video\",\"week\",\"security\",\"country\",\"exam\",\"movie\",\"organization\",\"equipment\",\"physics\",\"analysis\",\"policy\",\"series\",\"thought\",\"basis\",\"boyfriend\",\"direction\",\"strategy\",\"technology\",\"army\",\"camera\",\"freedom\",\"paper\",\"environment\",\"child\",\"instance\",\"month\",\"truth\",\"marketing\",\"university\",\"writing\",\"article\",\"department\",\"difference\",\"goal\",\"news\",\"audience\",\"fishing\",\"growth\",\"income\",\"marriage\",\"user\",\"combination\",\"failure\",\"meaning\",\"medicine\",\"philosophy\",\"teacher\",\"communication\",\"night\",\"chemistry\",\"disease\",\"disk\",\"energy\",\"nation\",\"road\",\"role\",\"soup\",\"advertising\",\"location\",\"success\",\"addition\",\"apartment\",\"education\",\"math\",\"moment\",\"painting\",\"politics\",\"attention\",\"decision\",\"event\",\"property\",\"shopping\",\"student\",\"wood\",\"competition\",\"distribution\",\"entertainment\",\"office\",\"population\",\"president\",\"unit\",\"category\",\"cigarette\",\"context\",\"introduction\",\"opportunity\",\"performance\",\"driver\",\"flight\",\"length\",\"magazine\",\"newspaper\",\"relationship\",\"teaching\",\"cell\",\"dealer\",\"debate\",\"finding\",\"lake\",\"member\",\"message\",\"phone\",\"scene\",\"appearance\",\"association\",\"concept\",\"customer\",\"death\",\"discussion\",\"housing\",\"inflation\",\"insurance\",\"mood\",\"woman\",\"advice\",\"blood\",\"effort\",\"expression\",\"importance\",\"opinion\",\"payment\",\"reality\",\"responsibility\",\"situation\",\"skill\",\"statement\",\"wealth\",\"application\",\"city\",\"county\",\"depth\",\"estate\",\"foundation\",\"grandmother\",\"heart\",\"perspective\",\"photo\",\"recipe\",\"studio\",\"topic\",\"collection\",\"depression\",\"imagination\",\"passion\",\"percentage\",\"resource\",\"setting\",\"ad\",\"agency\",\"college\",\"connection\",\"criticism\",\"debt\",\"description\",\"memory\",\"patience\",\"secretary\",\"solution\",\"administration\",\"aspect\",\"attitude\",\"director\",\"personality\",\"psychology\",\"recommendation\",\"response\",\"selection\",\"storage\",\"version\",\"alcohol\",\"argument\",\"complaint\",\"contract\",\"emphasis\",\"highway\",\"loss\",\"membership\",\"possession\",\"preparation\",\"steak\",\"union\",\"agreement\",\"cancer\",\"currency\",\"employment\",\"engineering\",\"entry\",\"interaction\",\"limit\",\"mixture\",\"preference\",\"region\",\"republic\",\"seat\",\"tradition\",\"virus\",\"actor\",\"classroom\",\"delivery\",\"device\",\"difficulty\",\"drama\",\"election\",\"engine\",\"football\",\"guidance\",\"hotel\",\"match\",\"owner\",\"priority\",\"protection\",\"suggestion\",\"tension\",\"variation\",\"anxiety\",\"atmosphere\",\"awareness\",\"bread\",\"climate\",\"comparison\",\"confusion\",\"construction\",\"elevator\",\"emotion\",\"employee\",\"employer\",\"guest\",\"height\",\"leadership\",\"mall\",\"manager\",\"operation\",\"recording\",\"respect\",\"sample\",\"transportation\",\"boring\",\"charity\",\"cousin\",\"disaster\",\"editor\",\"efficiency\",\"excitement\",\"extent\",\"feedback\",\"guitar\",\"homework\",\"leader\",\"mom\",\"outcome\",\"permission\",\"presentation\",\"promotion\",\"reflection\",\"refrigerator\",\"resolution\",\"revenue\",\"session\",\"singer\",\"tennis\",\"basket\",\"bonus\",\"cabinet\",\"childhood\",\"church\",\"clothes\",\"coffee\",\"dinner\",\"drawing\",\"hair\",\"hearing\",\"initiative\",\"judgment\",\"lab\",\"measurement\",\"mode\",\"mud\",\"orange\",\"poetry\",\"police\",\"possibility\",\"procedure\",\"queen\",\"ratio\",\"relation\",\"restaurant\",\"satisfaction\",\"sector\",\"signature\",\"significance\",\"song\",\"tooth\",\"town\",\"vehicle\",\"volume\",\"wife\",\"accident\",\"airport\",\"appointment\",\"arrival\",\"assumption\",\"baseball\",\"chapter\",\"committee\",\"conversation\",\"database\",\"enthusiasm\",\"error\",\"explanation\",\"farmer\",\"gate\",\"girl\",\"hall\",\"historian\",\"hospital\",\"injury\",\"instruction\",\"maintenance\",\"manufacturer\",\"meal\",\"perception\",\"pie\",\"poem\",\"presence\",\"proposal\",\"reception\",\"replacement\",\"revolution\",\"river\",\"son\",\"speech\",\"tea\",\"village\",\"warning\",\"winner\",\"worker\",\"writer\",\"assistance\",\"breath\",\"buyer\",\"chest\",\"chocolate\",\"conclusion\",\"contribution\",\"cookie\",\"courage\",\"desk\",\"drawer\",\"establishment\",\"examination\",\"garbage\",\"grocery\",\"honey\",\"impression\",\"improvement\",\"independence\",\"insect\",\"inspection\",\"inspector\",\"king\",\"ladder\",\"menu\",\"penalty\",\"piano\",\"potato\",\"profession\",\"professor\",\"quantity\",\"reaction\",\"requirement\",\"salad\",\"sister\",\"supermarket\",\"tongue\",\"weakness\",\"wedding\",\"affair\",\"ambition\",\"analyst\",\"apple\",\"assignment\",\"assistant\",\"bathroom\",\"bedroom\",\"beer\",\"birthday\",\"celebration\",\"championship\",\"cheek\",\"client\",\"consequence\",\"departure\",\"diamond\",\"dirt\",\"ear\",\"fortune\",\"friendship\",\"funeral\",\"gene\",\"girlfriend\",\"hat\",\"indication\",\"intention\",\"lady\",\"midnight\",\"negotiation\",\"obligation\",\"passenger\",\"pizza\",\"platform\",\"poet\",\"pollution\",\"recognition\",\"reputation\",\"shirt\",\"speaker\",\"stranger\",\"surgery\",\"sympathy\",\"tale\",\"throat\",\"trainer\",\"uncle\",\"youth\",\"time\",\"work\",\"film\",\"water\",\"money\",\"example\",\"while\",\"business\",\"study\",\"game\",\"life\",\"form\",\"air\",\"day\",\"place\",\"number\",\"part\",\"field\",\"fish\",\"back\",\"process\",\"heat\",\"hand\",\"experience\",\"job\",\"book\",\"end\",\"point\",\"type\",\"home\",\"economy\",\"value\",\"body\",\"market\",\"guide\",\"interest\",\"state\",\"radio\",\"course\",\"company\",\"price\",\"size\",\"card\",\"list\",\"mind\",\"trade\",\"line\",\"care\",\"group\",\"risk\",\"word\",\"fat\",\"force\",\"key\",\"light\",\"training\",\"name\",\"school\",\"top\",\"amount\",\"level\",\"order\",\"practice\",\"research\",\"sense\",\"service\",\"piece\",\"web\",\"boss\",\"sport\",\"fun\",\"house\",\"page\",\"term\",\"test\",\"answer\",\"sound\",\"focus\",\"matter\",\"kind\",\"soil\",\"board\",\"oil\",\"picture\",\"access\",\"garden\",\"range\",\"rate\",\"reason\",\"future\",\"site\",\"demand\",\"exercise\",\"image\",\"case\",\"cause\",\"coast\",\"action\",\"age\",\"bad\",\"boat\",\"record\",\"result\",\"section\",\"building\",\"mouse\",\"cash\",\"class\",\"period\",\"plan\",\"store\",\"tax\",\"side\",\"subject\",\"space\",\"rule\",\"stock\",\"weather\",\"chance\",\"figure\",\"man\",\"model\",\"source\",\"beginning\",\"earth\",\"program\",\"chicken\",\"design\",\"feature\",\"head\",\"material\",\"purpose\",\"question\",\"rock\",\"salt\",\"act\",\"birth\",\"car\",\"dog\",\"object\",\"scale\",\"sun\",\"note\",\"profit\",\"rent\",\"speed\",\"style\",\"war\",\"bank\",\"craft\",\"half\",\"inside\",\"outside\",\"standard\",\"bus\",\"exchange\",\"eye\",\"fire\",\"position\",\"pressure\",\"stress\",\"advantage\",\"benefit\",\"box\",\"frame\",\"issue\",\"step\",\"cycle\",\"face\",\"item\",\"metal\",\"paint\",\"review\",\"room\",\"screen\",\"structure\",\"view\",\"account\",\"ball\",\"discipline\",\"medium\",\"share\",\"balance\",\"bit\",\"black\",\"bottom\",\"choice\",\"gift\",\"impact\",\"machine\",\"shape\",\"tool\",\"wind\",\"address\",\"average\",\"career\",\"culture\",\"morning\",\"pot\",\"sign\",\"table\",\"task\",\"condition\",\"contact\",\"credit\",\"egg\",\"hope\",\"ice\",\"network\",\"north\",\"square\",\"attempt\",\"date\",\"effect\",\"link\",\"post\",\"star\",\"voice\",\"capital\",\"challenge\",\"friend\",\"self\",\"shot\",\"brush\",\"couple\",\"exit\",\"front\",\"function\",\"lack\",\"living\",\"plant\",\"plastic\",\"spot\",\"summer\",\"taste\",\"theme\",\"track\",\"wing\",\"brain\",\"button\",\"click\",\"desire\",\"foot\",\"gas\",\"influence\",\"notice\",\"rain\",\"wall\",\"base\",\"damage\",\"distance\",\"feeling\",\"pair\",\"savings\",\"staff\",\"sugar\",\"target\",\"text\",\"animal\",\"author\",\"budget\",\"discount\",\"file\",\"ground\",\"lesson\",\"minute\",\"officer\",\"phase\",\"reference\",\"register\",\"sky\",\"stage\",\"stick\",\"title\",\"trouble\",\"bowl\",\"bridge\",\"campaign\",\"character\",\"club\",\"edge\",\"evidence\",\"fan\",\"letter\",\"lock\",\"maximum\",\"novel\",\"option\",\"pack\",\"park\",\"quarter\",\"skin\",\"sort\",\"weight\",\"baby\",\"background\",\"carry\",\"dish\",\"factor\",\"fruit\",\"glass\",\"joint\",\"master\",\"muscle\",\"red\",\"strength\",\"traffic\",\"trip\",\"vegetable\",\"appeal\",\"chart\",\"gear\",\"ideal\",\"kitchen\",\"land\",\"log\",\"mother\",\"net\",\"party\",\"principle\",\"relative\",\"sale\",\"season\",\"signal\",\"spirit\",\"street\",\"tree\",\"wave\",\"belt\",\"bench\",\"commission\",\"copy\",\"drop\",\"minimum\",\"path\",\"progress\",\"project\",\"sea\",\"south\",\"status\",\"stuff\",\"ticket\",\"tour\",\"angle\",\"blue\",\"breakfast\",\"confidence\",\"daughter\",\"degree\",\"doctor\",\"dot\",\"dream\",\"duty\",\"essay\",\"father\",\"fee\",\"finance\",\"hour\",\"juice\",\"luck\",\"milk\",\"mouth\",\"peace\",\"pipe\",\"stable\",\"storm\",\"substance\",\"team\",\"trick\",\"afternoon\",\"bat\",\"beach\",\"blank\",\"catch\",\"chain\",\"consideration\",\"cream\",\"crew\",\"detail\",\"gold\",\"interview\",\"kid\",\"mark\",\"mission\",\"pain\",\"pleasure\",\"score\",\"screw\",\"sex\",\"shop\",\"shower\",\"suit\",\"tone\",\"window\",\"agent\",\"band\",\"bath\",\"block\",\"bone\",\"calendar\",\"candidate\",\"cap\",\"coat\",\"contest\",\"corner\",\"court\",\"cup\",\"district\",\"door\",\"east\",\"finger\",\"garage\",\"guarantee\",\"hole\",\"hook\",\"implement\",\"layer\",\"lecture\",\"lie\",\"manner\",\"meeting\",\"nose\",\"parking\",\"partner\",\"profile\",\"rice\",\"routine\",\"schedule\",\"swimming\",\"telephone\",\"tip\",\"winter\",\"airline\",\"bag\",\"battle\",\"bed\",\"bill\",\"bother\",\"cake\",\"code\",\"curve\",\"designer\",\"dimension\",\"dress\",\"ease\",\"emergency\",\"evening\",\"extension\",\"farm\",\"fight\",\"gap\",\"grade\",\"holiday\",\"horror\",\"horse\",\"host\",\"husband\",\"loan\",\"mistake\",\"mountain\",\"nail\",\"noise\",\"occasion\",\"package\",\"patient\",\"pause\",\"phrase\",\"proof\",\"race\",\"relief\",\"sand\",\"sentence\",\"shoulder\",\"smoke\",\"stomach\",\"string\",\"tourist\",\"towel\",\"vacation\",\"west\",\"wheel\",\"wine\",\"arm\",\"aside\",\"associate\",\"bet\",\"blow\",\"border\",\"branch\",\"breast\",\"brother\",\"buddy\",\"bunch\",\"chip\",\"coach\",\"cross\",\"document\",\"draft\",\"dust\",\"expert\",\"floor\",\"god\",\"golf\",\"habit\",\"iron\",\"judge\",\"knife\",\"landscape\",\"league\",\"mail\",\"mess\",\"native\",\"opening\",\"parent\",\"pattern\",\"pin\",\"pool\",\"pound\",\"request\",\"salary\",\"shame\",\"shelter\",\"shoe\",\"silver\",\"tackle\",\"tank\",\"trust\",\"assist\",\"bake\",\"bar\",\"bell\",\"bike\",\"blame\",\"boy\",\"brick\",\"chair\",\"closet\",\"clue\",\"collar\",\"comment\",\"conference\",\"devil\",\"diet\",\"fear\",\"fuel\",\"glove\",\"jacket\",\"lunch\",\"monitor\",\"mortgage\",\"nurse\",\"pace\",\"panic\",\"peak\",\"plane\",\"reward\",\"row\",\"sandwich\",\"shock\",\"spite\",\"spray\",\"surprise\",\"till\",\"transition\",\"weekend\",\"welcome\",\"yard\",\"alarm\",\"bend\",\"bicycle\",\"bite\",\"blind\",\"bottle\",\"cable\",\"candle\",\"clerk\",\"cloud\",\"concert\",\"counter\",\"flower\",\"grandfather\",\"harm\",\"knee\",\"lawyer\",\"leather\",\"load\",\"mirror\",\"neck\",\"pension\",\"plate\",\"purple\",\"ruin\",\"ship\",\"skirt\",\"slice\",\"snow\",\"specialist\",\"stroke\",\"switch\",\"trash\",\"tune\",\"zone\",\"anger\",\"award\",\"bid\",\"bitter\",\"boot\",\"bug\",\"camp\",\"candy\",\"carpet\",\"cat\",\"champion\",\"channel\",\"clock\",\"comfort\",\"cow\",\"crack\",\"engineer\",\"entrance\",\"fault\",\"grass\",\"guy\",\"hell\",\"highlight\",\"incident\",\"island\",\"joke\",\"jury\",\"leg\",\"lip\",\"mate\",\"motor\",\"nerve\",\"passage\",\"pen\",\"pride\",\"priest\",\"prize\",\"promise\",\"resident\",\"resort\",\"ring\",\"roof\",\"rope\",\"sail\",\"scheme\",\"script\",\"sock\",\"station\",\"toe\",\"tower\",\"truck\",\"witness\",\"can\",\"will\",\"other\",\"use\",\"make\",\"good\",\"look\",\"help\",\"go\",\"great\",\"being\",\"still\",\"public\",\"read\",\"keep\",\"start\",\"give\",\"human\",\"local\",\"general\",\"specific\",\"long\",\"play\",\"feel\",\"high\",\"put\",\"common\",\"set\",\"change\",\"simple\",\"past\",\"big\",\"possible\",\"particular\",\"major\",\"personal\",\"current\",\"national\",\"cut\",\"natural\",\"physical\",\"show\",\"try\",\"check\",\"second\",\"call\",\"move\",\"pay\",\"let\",\"increase\",\"single\",\"individual\",\"turn\",\"ask\",\"buy\",\"guard\",\"hold\",\"main\",\"offer\",\"potential\",\"professional\",\"international\",\"travel\",\"cook\",\"alternative\",\"special\",\"working\",\"whole\",\"dance\",\"excuse\",\"cold\",\"commercial\",\"low\",\"purchase\",\"deal\",\"primary\",\"worth\",\"fall\",\"necessary\",\"positive\",\"produce\",\"search\",\"present\",\"spend\",\"talk\",\"creative\",\"tell\",\"cost\",\"drive\",\"green\",\"support\",\"glad\",\"remove\",\"return\",\"run\",\"complex\",\"due\",\"effective\",\"middle\",\"regular\",\"reserve\",\"independent\",\"leave\",\"original\",\"reach\",\"rest\",\"serve\",\"watch\",\"beautiful\",\"charge\",\"active\",\"break\",\"negative\",\"safe\",\"stay\",\"visit\",\"visual\",\"affect\",\"cover\",\"report\",\"rise\",\"walk\",\"white\",\"junior\",\"pick\",\"unique\",\"classic\",\"final\",\"lift\",\"mix\",\"private\",\"stop\",\"teach\",\"western\",\"concern\",\"familiar\",\"fly\",\"official\",\"broad\",\"comfortable\",\"gain\",\"rich\",\"save\",\"stand\",\"young\",\"heavy\",\"lead\",\"listen\",\"valuable\",\"worry\",\"handle\",\"leading\",\"meet\",\"release\",\"sell\",\"finish\",\"normal\",\"press\",\"ride\",\"secret\",\"spread\",\"spring\",\"tough\",\"wait\",\"brown\",\"deep\",\"display\",\"flow\",\"hit\",\"objective\",\"shoot\",\"touch\",\"cancel\",\"chemical\",\"cry\",\"dump\",\"extreme\",\"push\",\"conflict\",\"eat\",\"fill\",\"formal\",\"jump\",\"kick\",\"opposite\",\"pass\",\"pitch\",\"remote\",\"total\",\"treat\",\"vast\",\"abuse\",\"beat\",\"burn\",\"deposit\",\"print\",\"raise\",\"sleep\",\"somewhere\",\"advance\",\"consist\",\"dark\",\"double\",\"draw\",\"equal\",\"fix\",\"hire\",\"internal\",\"join\",\"kill\",\"sensitive\",\"tap\",\"win\",\"attack\",\"claim\",\"constant\",\"drag\",\"drink\",\"guess\",\"minor\",\"pull\",\"raw\",\"soft\",\"solid\",\"wear\",\"weird\",\"wonder\",\"annual\",\"count\",\"dead\",\"doubt\",\"feed\",\"forever\",\"impress\",\"repeat\",\"round\",\"sing\",\"slide\",\"strip\",\"wish\",\"combine\",\"command\",\"dig\",\"divide\",\"equivalent\",\"hang\",\"hunt\",\"initial\",\"march\",\"mention\",\"spiritual\",\"survey\",\"tie\",\"adult\",\"brief\",\"crazy\",\"escape\",\"gather\",\"hate\",\"prior\",\"repair\",\"rough\",\"sad\",\"scratch\",\"sick\",\"strike\",\"employ\",\"external\",\"hurt\",\"illegal\",\"laugh\",\"lay\",\"mobile\",\"nasty\",\"ordinary\",\"respond\",\"royal\",\"senior\",\"split\",\"strain\",\"struggle\",\"swim\",\"train\",\"upper\",\"wash\",\"yellow\",\"convert\",\"crash\",\"dependent\",\"fold\",\"funny\",\"grab\",\"hide\",\"miss\",\"permit\",\"quote\",\"recover\",\"resolve\",\"roll\",\"sink\",\"slip\",\"spare\",\"suspect\",\"sweet\",\"swing\",\"twist\",\"upstairs\",\"usual\",\"abroad\",\"brave\",\"calm\",\"concentrate\",\"estimate\",\"grand\",\"male\",\"mine\",\"prompt\",\"quiet\",\"refuse\",\"regret\",\"reveal\",\"rush\",\"shake\",\"shift\",\"shine\",\"steal\",\"suck\",\"surround\",\"bear\",\"brilliant\",\"dare\",\"dear\",\"delay\",\"drunk\",\"female\",\"hurry\",\"inevitable\",\"invite\",\"kiss\",\"neat\",\"pop\",\"punch\",\"quit\",\"reply\",\"representative\",\"resist\",\"rip\",\"rub\",\"silly\",\"smile\",\"spell\",\"stretch\",\"stupid\",\"tear\",\"temporary\",\"tomorrow\",\"wake\",\"wrap\",\"yesterday\",\"Thomas\",\"Tom\",\"Lieuwe\"];\n\n\tvar name = capFirst(name1[getRandomInt(0, name1.length + 1)]) + ' ' + capFirst(name2[getRandomInt(0, name2.length + 1)]);\n\tmsg.payload=name;\n\treturn msg;\n","outputs":1,"noerr":0,"x":510,"y":40,"wires":[["764c1b41.d5043c","996f8524.533a3"]]},{"id":"a1685272.a2724","type":"function","z":"c930ad8.513bad","name":"","func":"var data = 0;\n   data = Math.floor(Math.random() * 300) + 1;\n   msg.payload=data;\n  return msg;","outputs":1,"noerr":0,"x":450,"y":240,"wires":[["764c1b41.d5043c","996f8524.533a3"]]},{"id":"d734c726.b2e438","type":"inject","z":"c930ad8.513bad","name":"","topic":"person/stepcount","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":140,"wires":[["b26a5ec7.eae38"]]},{"id":"fb9a09a6.d3f798","type":"inject","z":"c930ad8.513bad","name":"","topic":"person/heartrate","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":200,"wires":[["8ed6801f.88df8"]]},{"id":"7a02390c.98641","type":"inject","z":"c930ad8.513bad","name":"","topic":"person/glucoselevel","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":260,"wires":[["a1685272.a2724"]]},{"id":"996f8524.533a3","type":"mqtt out","z":"c930ad8.513bad","name":"","topic":"","qos":"","retain":"","broker":"b7bf998a.a16a08","x":840,"y":200,"wires":[]},{"id":"88e090e7.80795","type":"inject","z":"d745d1c0.40e63","name":"","topic":"home/smoke","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":80,"wires":[["d62a7e8c.6e6cb8"]]},{"id":"7bb20a66.a4be9c","type":"mqtt out","z":"d745d1c0.40e63","name":"","topic":"","qos":"","retain":"","broker":"b0c8c674.acae2","x":510,"y":200,"wires":[]},{"id":"84ceffc1.1418a","type":"debug","z":"d745d1c0.40e63","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":530,"y":80,"wires":[]},{"id":"d62a7e8c.6e6cb8","type":"function","z":"d745d1c0.40e63","name":"","func":"function getRandomInt(min, max) {\n  \treturn Math.floor(Math.random() * (max - min)) + min;\n}\n\nvar data = [\n             110, 149, 89, 150, 117, 150, 143, 82, 12, 92, 144, 73, 82, 200,\n            127, 149, 130, 116, 88, 105, 123, 12, 82, 72, 66, 15, 107, 122,\n            109, 116, 119, 115, 100, 10, ];\nvar smoke = data[getRandomInt(0, data.length + 1)];\n\nif(smoke>=150){\n    msg.payload=\"Smoke Sensed!\";\n   return msg;\n}\nelse{\n    msg.payload=\"No Smoke!\";\n   return msg;\n}\n","outputs":1,"noerr":0,"x":290,"y":180,"wires":[["7bb20a66.a4be9c","84ceffc1.1418a"]]},{"id":"ae6f5db7.8968c","type":"ui_template","z":"6ff9609c.c6929","group":"e47ce90a.b775c","name":"Photo-carousel","order":1,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n\n<head>\n<title>W3.CSS</title>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<meta content=\"text/html; charset=iso-8859-2\" http-equiv=\"Content-Type\">\n<link rel=\"stylesheet\" href=\"https://www.w3schools.com/w3css/4/w3.css\">\n<style>\n.mySlides {display:none;}\n</style>\n</head>\n\n<body>\n\n<div class=\"w3-content w3-section\" style=\"max-width:100%\">\n  <img class=\"mySlides\" src=\"http://localhost:1880/ui/1.jpg\" style=\"width:100%\">\n  <img class=\"mySlides\" src=\"http://localhost:1880/ui/2.jpg\" style=\"width:100%\">\n  <img class=\"mySlides\" src=\"http://localhost:1880/ui/3.jpg\" style=\"width:100%\">\n  <img class=\"mySlides\" src=\"http://localhost:1880/ui/4.jpg\" style=\"width:100%\">\n  <img class=\"mySlides\" src=\"http://localhost:1880/ui/5.jpg\" style=\"width:100%\">\n  <img class=\"mySlides\" src=\"http://localhost:1880/ui/6.jpg\" style=\"width:100%\">\n  <img class=\"mySlides\" src=\"http://localhost:1880/ui/7.jpg\" style=\"width:100%\">\n  <img class=\"mySlides\" src=\"http://localhost:1880/ui/8.jpg\" style=\"width:100%\">\n  <img class=\"mySlides\" src=\"http://localhost:1880/ui/9.jpg\" style=\"width:100%\">\n  <img class=\"mySlides\" src=\"http://localhost:1880/ui/10.jpg\" style=\"width:100%\">\n</div>\n\n<script>\nvar myIndex = 0;\ncarousel();\n\nfunction carousel() {\n  var i;\n  var x = document.getElementsByClassName(\"mySlides\");\n  for (i = 0; i < x.length; i++) {\n    x[i].style.display = \"none\";  \n  }\n  myIndex++;\n  if (myIndex > x.length) {myIndex = 1}    \n  x[myIndex-1].style.display = \"block\";  \n  setTimeout(carousel, 2000); // Change image every 2 seconds\n}\n</script>\n\n</body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":140,"y":80,"wires":[[]]},{"id":"f181c871.6e3ec","type":"ui_form","z":"85bf3239.daa2a","name":"Dashboard Sign-In","label":"","group":"19628936.709a87","order":1,"width":0,"height":0,"options":[{"label":"username","value":"username","type":"text","required":true,"rows":null},{"label":"password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"username":"","password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"dashbord/signin","x":130,"y":120,"wires":[["32db3af0.2d6366","b8ada387.9dae4","39d3fa66.9ad01e"]]},{"id":"606e65c0.a45b34","type":"debug","z":"85bf3239.daa2a","name":"Debug Account Log ","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":550,"y":80,"wires":[]},{"id":"73b08bf0.613e64","type":"comment","z":"85bf3239.daa2a","name":"Sign-In Section","info":"","x":130.00000762939453,"y":62.999996185302734,"wires":[]},{"id":"32db3af0.2d6366","type":"function","z":"85bf3239.daa2a","name":"Account Log","func":"var accountlog =  flow.get(\"accountlog\") || [] ; \n\naccountlog.push({ accessAt : new Date(), username : msg.payload.username})\n\nflow.set(\"accountlog\", accountlog);\n\nmsg.payload = accountlog;\nreturn msg;","outputs":1,"noerr":0,"x":329.00000762939453,"y":89.99999618530273,"wires":[["606e65c0.a45b34"]]},{"id":"b8ada387.9dae4","type":"function","z":"85bf3239.daa2a","name":"Account Verification","func":"var accounts =  flow.get(\"accounts\") || [ { username : \"admin\", password : \"admin\"},{ username : \"guest\", password : \"guest\"}] ; \n\nvar username = msg.payload.username ;\nvar password = msg.payload.password ; \n\nmsg.payload = 1;\n\naccounts.forEach(function ( account ){\n    if ( account.username == username ) {\n       msg.payload = 2;\n       if ( account.password == password ) {\n           msg.payload = 0;\n       } \n    }\n});\n\nif ( msg.payload == 0 ) {\n  var currentsocketid = flow.get(\"clientid\") || undefined;\n  if ( currentsocketid !== undefined && currentsocketid !== msg.socketid ) msg.payload = 3;\n}\n// keep the original socketid from msg.socketid;\nreturn msg;","outputs":1,"noerr":0,"x":342.0000457763672,"y":135.0000057220459,"wires":[["d011b8a5.fb602"]]},{"id":"fe1cbbbe.6b5e1","type":"switch","z":"85bf3239.daa2a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":690,"y":180,"wires":[["6a31f6a5.4464c8"],["d01c1404.3d6898"],["b75d2bfd.ce1a88"],["9d40e91e.447198"]]},{"id":"6a31f6a5.4464c8","type":"function","z":"85bf3239.daa2a","name":"= 0 : Success","func":"/* activate session timer */\nvar sessionTimer =  flow.get(\"sessionTimer\") || 0; \nvar currTime = Date.now();\nflow.set(\"sessionTimer\", currTime);\nflow.set(\"clientid\", msg.socketid);\n/* ui-control payload */\nmsg.payload = { group: {\n    show : [\"BasicHealthInfo_HealthInformation\",\"HomeDashboard_PhotoDashboard\",\n    \"HomeSafety_SmokeSensor\",\"HomeSecurity_FaceRecognition\",\"PhotoStore_UploadPhoto\",\n    \"HomeSecurity_DoorStatus\",\"HomeSecurity_DoorControl\"],\n    hide : [\"HomeDashboard_Signin\"]\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":859.9998435974121,"y":136.00000953674316,"wires":[["dc424ea8.3c2c5"]]},{"id":"d01c1404.3d6898","type":"function","z":"85bf3239.daa2a","name":"= 1 : Unknown User","func":"msg.payload = \"Username Doesn't exist!!!\"\nreturn msg;","outputs":1,"noerr":0,"x":880.9998512268066,"y":173.0000114440918,"wires":[["e861e074.9e619"]]},{"id":"b75d2bfd.ce1a88","type":"function","z":"85bf3239.daa2a","name":"= 2 : Wrong Password","func":"msg.payload = \"Invalid Password\";\nreturn msg;","outputs":1,"noerr":0,"x":881.9999198913574,"y":210.0000238418579,"wires":[["e861e074.9e619"]]},{"id":"e861e074.9e619","type":"ui_toast","z":"85bf3239.daa2a","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"","topic":"Authentication Failed","name":"Authentication Failure Dialog","x":1146.9999313354492,"y":193.0000114440918,"wires":[[]]},{"id":"35e53e92.110752","type":"comment","z":"85bf3239.daa2a","name":"Session Management - 15 secs for this demo","info":"","x":210,"y":340,"wires":[]},{"id":"96b13fc2.31dd18","type":"inject","z":"85bf3239.daa2a","name":"Timer","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":false,"onceDelay":0.1,"x":118.50000762939453,"y":428.99998474121094,"wires":[["b8f3e5fb.8934c","46f9e0a5.1e85a"]]},{"id":"b8f3e5fb.8934c","type":"function","z":"85bf3239.daa2a","name":"Detect Session Timer","func":"var sessionTimer =  flow.get(\"sessionTimer\") || 0; \nvar currTime = Date.now();\nvar SESSION_TIMEOUT = 30000//300000; //15 secs\n\nif ( sessionTimer === 0 /* Inactive, No user signed in */ ) {\n    msg.payload = 2;\n} else {\n    if ( currTime - sessionTimer > SESSION_TIMEOUT ) {\n      msg.payload = 0;  \n    } else {\n      msg.payload = 1;        \n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":306.50003814697266,"y":395,"wires":[["c3d9c925.80ff68"]]},{"id":"c3d9c925.80ff68","type":"switch","z":"85bf3239.daa2a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":476.50007247924805,"y":393,"wires":[["aa605857.ca099"],["5178a462.f6b364"],["569513d2.9c3424"]]},{"id":"aa605857.ca099","type":"function","z":"85bf3239.daa2a","name":"Time-Out","func":"/* activate session timer */\nvar sessionTimer =  flow.get(\"sessionTimer\") || 0; \nflow.set(\"sessionTimer\", 0);\n\nmsg.socketid = flow.get(\"clientid\") || undefined;\nmsg.payload = \"Session Expired! Please singin again!\";\nreturn msg;","outputs":1,"noerr":0,"x":632.4999847412109,"y":366.00000381469727,"wires":[["50e464a3.ad6034","59cdc030.b18c58"]]},{"id":"50e464a3.ad6034","type":"ui_toast","z":"85bf3239.daa2a","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"","topic":"Session Timeout","name":"Time-Out Dialog","x":820.000114440918,"y":332.00000381469727,"wires":[[]]},{"id":"59cdc030.b18c58","type":"function","z":"85bf3239.daa2a","name":"Sign-In Redirection","func":"var msg = {};\n\nmsg.socketid = flow.get(\"clientid\") || undefined;\nmsg.payload = { group: {\n    show : [\"HomeDashboard_Signin\",\"HomeDashboard_PhotoDashboard\"],\n    hide : [\"BasicHealthInfo_HealthInformation\",\"PhotoStore_UploadPhoto\",\n    \"HomeSafety_SmokeSensor\",\"HomeSecurity_FaceRecognition\",\n    \"HomeSecurity_DoorStatus\",\"HomeSecurity_DoorControl\"]\n    }\n};\n\nflow.set(\"clientid\", undefined);\nreturn msg;","outputs":1,"noerr":0,"x":830.5000228881836,"y":369,"wires":[["2c66b044.8ff5"]]},{"id":"ba282997.7755a","type":"ui_toast","z":"85bf3239.daa2a","d":true,"position":"bottom right","displayTime":"1","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"Timer","name":"Display Remaining Time","x":640.2222023010254,"y":482.99998474121094,"wires":[]},{"id":"46f9e0a5.1e85a","type":"function","z":"85bf3239.daa2a","d":true,"name":"Calculating Remaining Time (Debug)","func":"var sessionTimer =  flow.get(\"sessionTimer\") || 0; \nvar currTime = Date.now();\nvar remainingSecs = Math.floor((15000 - (currTime - sessionTimer))/1000) + 1;\n    \nif ( sessionTimer == 0 /* Inactive, No user signed in */ ) {\n    return null;\n} else {\n    \n    if ( remainingSecs <= 7 ) msg.payload = \"Remaining : \" + remainingSecs + \" secs\";  \n    else return null;\n}\n\nmsg.socketid = flow.get(\"clientid\") || \"B1234\";\nreturn msg;","outputs":1,"noerr":0,"x":356.5000305175781,"y":483.0000123977661,"wires":[["ba282997.7755a"]]},{"id":"5178a462.f6b364","type":"function","z":"85bf3239.daa2a","name":"Main/Dashboard Goup","func":"var msg = {};\nmsg.socketid = flow.get(\"clientid\") || undefined;\nmsg.payload = { group: {\n    show : [\"BasicHealthInfo_HealthInformation\",\"HomeDashboard_PhotoDashboard\",\n    \"HomeSafety_SmokeSensor\",\"HomeSecurity_FaceRecognition\",\"PhotoStore_UploadPhoto\",\n    \"HomeSecurity_DoorStatus\",\"HomeSecurity_DoorControl\"],\n    hide : [\"HomeDashboard_Signin\"]\n    }\n};\nreturn msg;","outputs":1,"noerr":0,"x":674.0000305175781,"y":406.99999618530273,"wires":[["bcd4a84d.c58178"]]},{"id":"569513d2.9c3424","type":"function","z":"85bf3239.daa2a","name":"Signin Goup","func":"var msg = {};\nmsg.payload = { group: {\n    show : [\"HomeDashboard_Signin\",\"HomeDashboard_PhotoDashboard\"],\n    hide : [\"BasicHealthInfo_HealthInformation\",\"PhotoStore_UploadPhoto\",\n    \"HomeSafety_SmokeSensor\",\"HomeSecurity_FaceRecognition\",\n    \"HomeSecurity_DoorStatus\",\"HomeSecurity_DoorControl\"]\n    }\n};\nreturn msg;","outputs":1,"noerr":0,"x":645.0000915527344,"y":448.0000343322754,"wires":[["10172481.fc2c33"]]},{"id":"39d3fa66.9ad01e","type":"debug","z":"85bf3239.daa2a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":130,"y":200,"wires":[]},{"id":"9bdc132.5fd54f","type":"ui_toast","z":"85bf3239.daa2a","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"","topic":"System In Use.","name":"System In-Use Dialog","x":1130.1111373901367,"y":246.1215467453003,"wires":[[]]},{"id":"9d40e91e.447198","type":"function","z":"85bf3239.daa2a","name":"= 4 : System In Use","func":"msg.payload = \"System is used by other user.\";\nreturn msg;","outputs":1,"noerr":0,"x":871.4442863464355,"y":247.12154006958008,"wires":[["9bdc132.5fd54f"]]},{"id":"bcd4a84d.c58178","type":"ui_ui_control","z":"85bf3239.daa2a","name":"Stay in Health Information Group","x":1017.0000991821289,"y":406.99999809265137,"wires":[[]]},{"id":"10172481.fc2c33","type":"ui_ui_control","z":"85bf3239.daa2a","name":"Go to Signin Group","x":965.0002479553223,"y":445.0000343322754,"wires":[[]]},{"id":"2c66b044.8ff5","type":"ui_ui_control","z":"85bf3239.daa2a","name":"Go to Signin Group","x":1027.0000324249268,"y":367.9999885559082,"wires":[[]]},{"id":"dc424ea8.3c2c5","type":"ui_ui_control","z":"85bf3239.daa2a","name":"Go to Sensor/History Group","x":1147.0000267028809,"y":136.0000057220459,"wires":[[]]},{"id":"d011b8a5.fb602","type":"mqtt out","z":"85bf3239.daa2a","name":"","topic":"","qos":"","retain":"","broker":"b0c8c674.acae2","x":350,"y":220,"wires":[]},{"id":"3e65fb39.e2fdd4","type":"mqtt in","z":"85bf3239.daa2a","name":"Signin","topic":"dashbord/signin","qos":"0","datatype":"auto","broker":"b0c8c674.acae2","x":520,"y":200,"wires":[["fe1cbbbe.6b5e1"]]},{"id":"9be1107b.c7b2f","type":"http in","z":"c63007d6.27298","name":"","url":"/upload","method":"get","upload":false,"swaggerDoc":"","x":170,"y":160,"wires":[["dd2ad1b2.ebc88"]]},{"id":"f7ea8ed3.9105b","type":"http response","z":"c63007d6.27298","name":"","statusCode":"","headers":{},"x":510,"y":160,"wires":[]},{"id":"808e1c16.4223","type":"debug","z":"c63007d6.27298","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"req.files","targetType":"msg","x":430,"y":220,"wires":[]},{"id":"8d416fda.b66cc8","type":"comment","z":"c63007d6.27298","name":"Simple file upload example","info":"http://localhost:1880/upload","x":210,"y":120,"wires":[]},{"id":"d80b726.f38e39","type":"http in","z":"c63007d6.27298","name":"","url":"/uploadsimple_post","method":"post","upload":true,"swaggerDoc":"","x":210,"y":280,"wires":[["808e1c16.4223","7d4f45a8.5f7924"]]},{"id":"7d4f45a8.5f7924","type":"change","z":"c63007d6.27298","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"req.files[0].buffer","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":280,"wires":[["8b15f268.d35e","c905e74.daabb98"]]},{"id":"dd2ad1b2.ebc88","type":"ui_template","z":"c63007d6.27298","group":"6137b7ce.a60078","name":"uploadme","order":1,"width":0,"height":0,"format":"<h1>Upload Photo:</h1>\n\n<form action=\"/uploadsimple_post\" method=\"POST\" enctype=\"multipart/form-data\">\n    <input type=\"file\" name=\"myFile\" />\n    <input type=\"submit\" value=\"Submit\">\n</form>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":360,"y":160,"wires":[["f7ea8ed3.9105b"]]},{"id":"4c3551a8.83e1c8","type":"mysql","z":"c63007d6.27298","mydb":"d8540bd8.f937c","name":"Photos","x":980,"y":380,"wires":[[]]},{"id":"8b15f268.d35e","type":"function","z":"c63007d6.27298","name":"Insert photos","func":"msg.topic=\"INSERT INTO gallery (photo) VALUES ('\"+msg.payload[0]+\"')\";\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":380,"wires":[["4c3551a8.83e1c8"]]},{"id":"59d2b585.cc6a3c","type":"debug","z":"c63007d6.27298","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":740,"y":540,"wires":[]},{"id":"c905e74.daabb98","type":"function","z":"c63007d6.27298","name":"","func":"if (msg.req.files[0].mimetype.includes('image')) {\n    msg.payload = msg.payload.toString('base64');\n} else {\n    msg.payload = msg.payload.toString();\n}\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":440,"wires":[["59d2b585.cc6a3c"]]},{"id":"f7a29806.0aed88","type":"inject","z":"2059ab5d.4f3804","name":"","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":80,"wires":[["afeda0ed.1313e"]]},{"id":"afeda0ed.1313e","type":"function","z":"2059ab5d.4f3804","name":"","func":"function getRandomInt(min, max) {\n  \treturn Math.floor(Math.random() * (max - min)) + min;\n}\nfunction capFirst(string) {\n    return string.charAt(0).toUpperCase() + string.slice(1);\n}\n\nfunction getRandomIndex(min, max) {\n  \treturn Math.floor(Math.random() * (max - min)) + min;\n}\n\tvar name1 = [\"abandoned\",\"able\",\"absolute\",\"adorable\",\"adventurous\",\"academic\",\"acceptable\",\"acclaimed\",\"accomplished\",\"accurate\",\"aching\",\"acidic\",\"acrobatic\",\"active\",\"actual\",\"adept\",\"admirable\",\"admired\",\"adolescent\",\"adorable\",\"adored\",\"advanced\",\"afraid\",\"affectionate\",\"aged\",\"aggravating\",\"aggressive\",\"agile\",\"agitated\",\"agonizing\",\"agreeable\",\"ajar\",\"alarmed\",\"alarming\",\"alert\",\"alienated\",\"alive\",\"all\",\"altruistic\",\"amazing\",\"ambitious\",\"ample\",\"amused\",\"amusing\",\"anchored\",\"ancient\",\"angelic\",\"angry\",\"anguished\",\"animated\",\"annual\",\"another\",\"antique\",\"anxious\",\"any\",\"apprehensive\",\"appropriate\",\"apt\",\"arctic\",\"arid\",\"aromatic\",\"artistic\",\"ashamed\",\"assured\",\"astonishing\",\"athletic\",\"attached\",\"attentive\",\"attractive\",\"austere\",\"authentic\",\"authorized\",\"automatic\",\"avaricious\",\"average\",\"aware\",\"awesome\",\"awful\",\"awkward\",\"babyish\",\"bad\",\"back\",\"baggy\",\"bare\",\"barren\",\"basic\",\"beautiful\",\"belated\",\"beloved\",\"beneficial\",\"better\",\"best\",\"bewitched\",\"big\",\"big-hearted\",\"biodegradable\",\"bite-sized\",\"bitter\",\"black\",\"black-and-white\",\"bland\",\"blank\",\"blaring\",\"bleak\",\"blind\",\"blissful\",\"blond\",\"blue\",\"blushing\",\"bogus\",\"boiling\",\"bold\",\"bony\",\"boring\",\"bossy\",\"both\",\"bouncy\",\"bountiful\",\"bowed\",\"brave\",\"breakable\",\"brief\",\"bright\",\"brilliant\",\"brisk\",\"broken\",\"bronze\",\"brown\",\"bruised\",\"bubbly\",\"bulky\",\"bumpy\",\"buoyant\",\"burdensome\",\"burly\",\"bustling\",\"busy\",\"buttery\",\"buzzing\",\"calculating\",\"calm\",\"candid\",\"canine\",\"capital\",\"carefree\",\"careful\",\"careless\",\"caring\",\"cautious\",\"cavernous\",\"celebrated\",\"charming\",\"cheap\",\"cheerful\",\"cheery\",\"chief\",\"chilly\",\"chubby\",\"circular\",\"classic\",\"clean\",\"clear\",\"clear-cut\",\"clever\",\"close\",\"closed\",\"cloudy\",\"clueless\",\"clumsy\",\"cluttered\",\"coarse\",\"cold\",\"colorful\",\"colorless\",\"colossal\",\"comfortable\",\"common\",\"compassionate\",\"competent\",\"complete\",\"complex\",\"complicated\",\"composed\",\"concerned\",\"concrete\",\"confused\",\"conscious\",\"considerate\",\"constant\",\"content\",\"conventional\",\"cooked\",\"cool\",\"cooperative\",\"coordinated\",\"corny\",\"corrupt\",\"costly\",\"courageous\",\"courteous\",\"crafty\",\"crazy\",\"creamy\",\"creative\",\"creepy\",\"criminal\",\"crisp\",\"critical\",\"crooked\",\"crowded\",\"cruel\",\"crushing\",\"cuddly\",\"cultivated\",\"cultured\",\"cumbersome\",\"curly\",\"curvy\",\"cute\",\"cylindrical\",\"damaged\",\"damp\",\"dangerous\",\"dapper\",\"daring\",\"darling\",\"dark\",\"dazzling\",\"dead\",\"deadly\",\"deafening\",\"dear\",\"dearest\",\"decent\",\"decimal\",\"decisive\",\"deep\",\"defenseless\",\"defensive\",\"defiant\",\"deficient\",\"definite\",\"definitive\",\"delayed\",\"delectable\",\"delicious\",\"delightful\",\"delirious\",\"demanding\",\"dense\",\"dental\",\"dependable\",\"dependent\",\"descriptive\",\"deserted\",\"detailed\",\"determined\",\"devoted\",\"different\",\"difficult\",\"digital\",\"diligent\",\"dim\",\"dimpled\",\"dimwitted\",\"direct\",\"disastrous\",\"discrete\",\"disfigured\",\"disgusting\",\"disloyal\",\"dismal\",\"distant\",\"downright\",\"dreary\",\"dirty\",\"disguised\",\"dishonest\",\"dismal\",\"distant\",\"distinct\",\"distorted\",\"dizzy\",\"dopey\",\"doting\",\"double\",\"downright\",\"drab\",\"drafty\",\"dramatic\",\"dreary\",\"droopy\",\"dry\",\"dual\",\"dull\",\"dutiful\",\"each\",\"eager\",\"earnest\",\"early\",\"easy\",\"easy-going\",\"ecstatic\",\"edible\",\"educated\",\"elaborate\",\"elastic\",\"elated\",\"elderly\",\"electric\",\"elegant\",\"elementary\",\"elliptical\",\"embarrassed\",\"embellished\",\"eminent\",\"emotional\",\"empty\",\"enchanted\",\"enchanting\",\"energetic\",\"enlightened\",\"enormous\",\"enraged\",\"entire\",\"envious\",\"equal\",\"equatorial\",\"essential\",\"esteemed\",\"ethical\",\"euphoric\",\"even\",\"evergreen\",\"everlasting\",\"every\",\"evil\",\"exalted\",\"excellent\",\"exemplary\",\"exhausted\",\"excitable\",\"excited\",\"exciting\",\"exotic\",\"expensive\",\"experienced\",\"expert\",\"extraneous\",\"extroverted\",\"extra-large\",\"extra-small\",\"fabulous\",\"failing\",\"faint\",\"fair\",\"faithful\",\"fake\",\"false\",\"familiar\",\"famous\",\"fancy\",\"fantastic\",\"far\",\"faraway\",\"far-flung\",\"far-off\",\"fast\",\"fat\",\"fatal\",\"fatherly\",\"favorable\",\"favorite\",\"fearful\",\"fearless\",\"feisty\",\"feline\",\"female\",\"feminine\",\"few\",\"fickle\",\"filthy\",\"fine\",\"finished\",\"firm\",\"first\",\"firsthand\",\"fitting\",\"fixed\",\"flaky\",\"flamboyant\",\"flashy\",\"flat\",\"flawed\",\"flawless\",\"flickering\",\"flimsy\",\"flippant\",\"flowery\",\"fluffy\",\"fluid\",\"flustered\",\"focused\",\"fond\",\"foolhardy\",\"foolish\",\"forceful\",\"forked\",\"formal\",\"forsaken\",\"forthright\",\"fortunate\",\"fragrant\",\"frail\",\"frank\",\"frayed\",\"free\",\"French\",\"fresh\",\"frequent\",\"friendly\",\"frightened\",\"frightening\",\"frigid\",\"frilly\",\"frizzy\",\"frivolous\",\"front\",\"frosty\",\"frozen\",\"frugal\",\"fruitful\",\"full\",\"fumbling\",\"functional\",\"funny\",\"fussy\",\"fuzzy\",\"gargantuan\",\"gaseous\",\"general\",\"generous\",\"gentle\",\"genuine\",\"giant\",\"giddy\",\"gigantic\",\"gifted\",\"giving\",\"glamorous\",\"glaring\",\"glass\",\"gleaming\",\"gleeful\",\"glistening\",\"glittering\",\"gloomy\",\"glorious\",\"glossy\",\"glum\",\"golden\",\"good\",\"good-natured\",\"gorgeous\",\"graceful\",\"gracious\",\"grand\",\"grandiose\",\"granular\",\"grateful\",\"grave\",\"gray\",\"great\",\"greedy\",\"green\",\"gregarious\",\"grim\",\"grimy\",\"gripping\",\"grizzled\",\"gross\",\"grotesque\",\"grouchy\",\"grounded\",\"growing\",\"growling\",\"grown\",\"grubby\",\"gruesome\",\"grumpy\",\"guilty\",\"gullible\",\"gummy\",\"hairy\",\"half\",\"handmade\",\"handsome\",\"handy\",\"happy\",\"happy-go-lucky\",\"hard\",\"hard-to-find\",\"harmful\",\"harmless\",\"harmonious\",\"harsh\",\"hasty\",\"hateful\",\"haunting\",\"healthy\",\"heartfelt\",\"hearty\",\"heavenly\",\"heavy\",\"hefty\",\"helpful\",\"helpless\",\"hidden\",\"hideous\",\"high\",\"high-level\",\"hilarious\",\"hoarse\",\"hollow\",\"homely\",\"honest\",\"honorable\",\"honored\",\"hopeful\",\"horrible\",\"hospitable\",\"hot\",\"huge\",\"humble\",\"humiliating\",\"humming\",\"humongous\",\"hungry\",\"hurtful\",\"husky\",\"icky\",\"icy\",\"ideal\",\"idealistic\",\"identical\",\"idle\",\"idiotic\",\"idolized\",\"ignorant\",\"ill\",\"illegal\",\"ill-fated\",\"ill-informed\",\"illiterate\",\"illustrious\",\"imaginary\",\"imaginative\",\"immaculate\",\"immaterial\",\"immediate\",\"immense\",\"impassioned\",\"impeccable\",\"impartial\",\"imperfect\",\"imperturbable\",\"impish\",\"impolite\",\"important\",\"impossible\",\"impractical\",\"impressionable\",\"impressive\",\"improbable\",\"impure\",\"inborn\",\"incomparable\",\"incompatible\",\"incomplete\",\"inconsequential\",\"incredible\",\"indelible\",\"inexperienced\",\"indolent\",\"infamous\",\"infantile\",\"infatuated\",\"inferior\",\"infinite\",\"informal\",\"innocent\",\"insecure\",\"insidious\",\"insignificant\",\"insistent\",\"instructive\",\"insubstantial\",\"intelligent\",\"intent\",\"intentional\",\"interesting\",\"internal\",\"international\",\"intrepid\",\"ironclad\",\"irresponsible\",\"irritating\",\"itchy\",\"jaded\",\"jagged\",\"jam-packed\",\"jaunty\",\"jealous\",\"jittery\",\"joint\",\"jolly\",\"jovial\",\"joyful\",\"joyous\",\"jubilant\",\"judicious\",\"juicy\",\"jumbo\",\"junior\",\"jumpy\",\"juvenile\",\"kaleidoscopic\",\"keen\",\"key\",\"kind\",\"kindhearted\",\"kindly\",\"klutzy\",\"knobby\",\"knotty\",\"knowledgeable\",\"knowing\",\"known\",\"kooky\",\"kosher\",\"lame\",\"lanky\",\"large\",\"last\",\"lasting\",\"late\",\"lavish\",\"lawful\",\"lazy\",\"leading\",\"lean\",\"leafy\",\"left\",\"legal\",\"legitimate\",\"light\",\"lighthearted\",\"likable\",\"likely\",\"limited\",\"limp\",\"limping\",\"linear\",\"lined\",\"liquid\",\"little\",\"live\",\"lively\",\"livid\",\"loathsome\",\"lone\",\"lonely\",\"long\",\"long-term\",\"loose\",\"lopsided\",\"lost\",\"loud\",\"lovable\",\"lovely\",\"loving\",\"low\",\"loyal\",\"lucky\",\"lumbering\",\"luminous\",\"lumpy\",\"lustrous\",\"luxurious\",\"mad\",\"made-up\",\"magnificent\",\"majestic\",\"major\",\"male\",\"mammoth\",\"married\",\"marvelous\",\"masculine\",\"massive\",\"mature\",\"meager\",\"mealy\",\"mean\",\"measly\",\"meaty\",\"medical\",\"mediocre\",\"medium\",\"meek\",\"mellow\",\"melodic\",\"memorable\",\"menacing\",\"merry\",\"messy\",\"metallic\",\"mild\",\"milky\",\"mindless\",\"miniature\",\"minor\",\"minty\",\"miserable\",\"miserly\",\"misguided\",\"misty\",\"mixed\",\"modern\",\"modest\",\"moist\",\"monstrous\",\"monthly\",\"monumental\",\"moral\",\"mortified\",\"motherly\",\"motionless\",\"mountainous\",\"muddy\",\"muffled\",\"multicolored\",\"mundane\",\"murky\",\"mushy\",\"musty\",\"muted\",\"mysterious\",\"naive\",\"narrow\",\"nasty\",\"natural\",\"naughty\",\"nautical\",\"near\",\"neat\",\"necessary\",\"needy\",\"negative\",\"neglected\",\"negligible\",\"neighboring\",\"nervous\",\"new\",\"next\",\"nice\",\"nifty\",\"nimble\",\"nippy\",\"nocturnal\",\"noisy\",\"nonstop\",\"normal\",\"notable\",\"noted\",\"noteworthy\",\"novel\",\"noxious\",\"numb\",\"nutritious\",\"nutty\",\"obedient\",\"obese\",\"oblong\",\"oily\",\"oblong\",\"obvious\",\"occasional\",\"odd\",\"oddball\",\"offbeat\",\"offensive\",\"official\",\"old\",\"old-fashioned\",\"only\",\"open\",\"optimal\",\"optimistic\",\"opulent\",\"orange\",\"orderly\",\"organic\",\"ornate\",\"ornery\",\"ordinary\",\"original\",\"other\",\"our\",\"outlying\",\"outgoing\",\"outlandish\",\"outrageous\",\"outstanding\",\"oval\",\"overcooked\",\"overdue\",\"overjoyed\",\"overlooked\",\"palatable\",\"pale\",\"paltry\",\"parallel\",\"parched\",\"partial\",\"passionate\",\"past\",\"pastel\",\"peaceful\",\"peppery\",\"perfect\",\"perfumed\",\"periodic\",\"perky\",\"personal\",\"pertinent\",\"pesky\",\"pessimistic\",\"petty\",\"phony\",\"physical\",\"piercing\",\"pink\",\"pitiful\",\"plain\",\"plaintive\",\"plastic\",\"playful\",\"pleasant\",\"pleased\",\"pleasing\",\"plump\",\"plush\",\"polished\",\"polite\",\"political\",\"pointed\",\"pointless\",\"poised\",\"poor\",\"popular\",\"portly\",\"posh\",\"positive\",\"possible\",\"potable\",\"powerful\",\"powerless\",\"practical\",\"precious\",\"present\",\"prestigious\",\"pretty\",\"precious\",\"previous\",\"pricey\",\"prickly\",\"primary\",\"prime\",\"pristine\",\"private\",\"prize\",\"probable\",\"productive\",\"profitable\",\"profuse\",\"proper\",\"proud\",\"prudent\",\"punctual\",\"pungent\",\"puny\",\"pure\",\"purple\",\"pushy\",\"putrid\",\"puzzled\",\"puzzling\",\"quaint\",\"qualified\",\"quarrelsome\",\"quarterly\",\"queasy\",\"querulous\",\"questionable\",\"quick\",\"quick-witted\",\"quiet\",\"quintessential\",\"quirky\",\"quixotic\",\"quizzical\",\"radiant\",\"ragged\",\"rapid\",\"rare\",\"rash\",\"raw\",\"recent\",\"reckless\",\"rectangular\",\"ready\",\"real\",\"realistic\",\"reasonable\",\"red\",\"reflecting\",\"regal\",\"regular\",\"reliable\",\"relieved\",\"remarkable\",\"remorseful\",\"remote\",\"repentant\",\"required\",\"respectful\",\"responsible\",\"repulsive\",\"revolving\",\"rewarding\",\"rich\",\"rigid\",\"right\",\"ringed\",\"ripe\",\"roasted\",\"robust\",\"rosy\",\"rotating\",\"rotten\",\"rough\",\"round\",\"rowdy\",\"royal\",\"rubbery\",\"rundown\",\"ruddy\",\"rude\",\"runny\",\"rural\",\"rusty\",\"sad\",\"safe\",\"salty\",\"same\",\"sandy\",\"sane\",\"sarcastic\",\"sardonic\",\"satisfied\",\"scaly\",\"scarce\",\"scared\",\"scary\",\"scented\",\"scholarly\",\"scientific\",\"scornful\",\"scratchy\",\"scrawny\",\"second\",\"secondary\",\"second-hand\",\"secret\",\"self-assured\",\"self-reliant\",\"selfish\",\"sentimental\",\"separate\",\"serene\",\"serious\",\"serpentine\",\"several\",\"severe\",\"shabby\",\"shadowy\",\"shady\",\"shallow\",\"shameful\",\"shameless\",\"sharp\",\"shimmering\",\"shiny\",\"shocked\",\"shocking\",\"shoddy\",\"short\",\"short-term\",\"showy\",\"shrill\",\"shy\",\"sick\",\"silent\",\"silky\",\"silly\",\"silver\",\"similar\",\"simple\",\"simplistic\",\"sinful\",\"single\",\"sizzling\",\"skeletal\",\"skinny\",\"sleepy\",\"slight\",\"slim\",\"slimy\",\"slippery\",\"slow\",\"slushy\",\"small\",\"smart\",\"smoggy\",\"smooth\",\"smug\",\"snappy\",\"snarling\",\"sneaky\",\"sniveling\",\"snoopy\",\"sociable\",\"soft\",\"soggy\",\"solid\",\"somber\",\"some\",\"spherical\",\"sophisticated\",\"sore\",\"sorrowful\",\"soulful\",\"soupy\",\"sour\",\"Spanish\",\"sparkling\",\"sparse\",\"specific\",\"spectacular\",\"speedy\",\"spicy\",\"spiffy\",\"spirited\",\"spiteful\",\"splendid\",\"spotless\",\"spotted\",\"spry\",\"square\",\"squeaky\",\"squiggly\",\"stable\",\"staid\",\"stained\",\"stale\",\"standard\",\"starchy\",\"stark\",\"starry\",\"steep\",\"sticky\",\"stiff\",\"stimulating\",\"stingy\",\"stormy\",\"straight\",\"strange\",\"steel\",\"strict\",\"strident\",\"striking\",\"striped\",\"strong\",\"studious\",\"stunning\",\"stupendous\",\"stupid\",\"sturdy\",\"stylish\",\"subdued\",\"submissive\",\"substantial\",\"subtle\",\"suburban\",\"sudden\",\"sugary\",\"sunny\",\"super\",\"superb\",\"superficial\",\"superior\",\"supportive\",\"sure-footed\",\"surprised\",\"suspicious\",\"svelte\",\"sweaty\",\"sweet\",\"sweltering\",\"swift\",\"sympathetic\",\"tall\",\"talkative\",\"tame\",\"tan\",\"tangible\",\"tart\",\"tasty\",\"tattered\",\"taut\",\"tedious\",\"teeming\",\"tempting\",\"tender\",\"tense\",\"tepid\",\"terrible\",\"terrific\",\"testy\",\"thankful\",\"that\",\"these\",\"thick\",\"thin\",\"third\",\"thirsty\",\"this\",\"thorough\",\"thorny\",\"those\",\"thoughtful\",\"threadbare\",\"thrifty\",\"thunderous\",\"tidy\",\"tight\",\"timely\",\"tinted\",\"tiny\",\"tired\",\"torn\",\"total\",\"tough\",\"traumatic\",\"treasured\",\"tremendous\",\"tragic\",\"trained\",\"tremendous\",\"triangular\",\"tricky\",\"trifling\",\"trim\",\"trivial\",\"troubled\",\"true\",\"trusting\",\"trustworthy\",\"trusty\",\"truthful\",\"tubby\",\"turbulent\",\"twin\",\"ugly\",\"ultimate\",\"unacceptable\",\"unaware\",\"uncomfortable\",\"uncommon\",\"unconscious\",\"understated\",\"unequaled\",\"uneven\",\"unfinished\",\"unfit\",\"unfolded\",\"unfortunate\",\"unhappy\",\"unhealthy\",\"uniform\",\"unimportant\",\"unique\",\"united\",\"unkempt\",\"unknown\",\"unlawful\",\"unlined\",\"unlucky\",\"unnatural\",\"unpleasant\",\"unrealistic\",\"unripe\",\"unruly\",\"unselfish\",\"unsightly\",\"unsteady\",\"unsung\",\"untidy\",\"untimely\",\"untried\",\"untrue\",\"unused\",\"unusual\",\"unwelcome\",\"unwieldy\",\"unwilling\",\"unwitting\",\"unwritten\",\"upbeat\",\"upright\",\"upset\",\"urban\",\"usable\",\"used\",\"useful\",\"useless\",\"utilized\",\"utter\",\"vacant\",\"vague\",\"vain\",\"valid\",\"valuable\",\"vapid\",\"variable\",\"vast\",\"velvety\",\"venerated\",\"vengeful\",\"verifiable\",\"vibrant\",\"vicious\",\"victorious\",\"vigilant\",\"vigorous\",\"villainous\",\"violet\",\"violent\",\"virtual\",\"virtuous\",\"visible\",\"vital\",\"vivacious\",\"vivid\",\"voluminous\",\"wan\",\"warlike\",\"warm\",\"warmhearted\",\"warped\",\"wary\",\"wasteful\",\"watchful\",\"waterlogged\",\"watery\",\"wavy\",\"wealthy\",\"weak\",\"weary\",\"webbed\",\"wee\",\"weekly\",\"weepy\",\"weighty\",\"weird\",\"welcome\",\"well-documented\",\"well-groomed\",\"well-informed\",\"well-lit\",\"well-made\",\"well-off\",\"well-to-do\",\"well-worn\",\"wet\",\"which\",\"whimsical\",\"whirlwind\",\"whispered\",\"white\",\"whole\",\"whopping\",\"wicked\",\"wide\",\"wide-eyed\",\"wiggly\",\"wild\",\"willing\",\"wilted\",\"winding\",\"windy\",\"winged\",\"wiry\",\"wise\",\"witty\",\"wobbly\",\"woeful\",\"wonderful\",\"wooden\",\"woozy\",\"wordy\",\"worldly\",\"worn\",\"worried\",\"worrisome\",\"worse\",\"worst\",\"worthless\",\"worthwhile\",\"worthy\",\"wrathful\",\"wretched\",\"writhing\",\"wrong\",\"wry\",\"yawning\",\"yearly\",\"yellow\",\"yellowish\",\"young\",\"youthful\",\"yummy\",\"zany\",\"zealous\",\"zesty\",\"zigzag\",\"rocky\"];\n\n\tvar name2 = [\"people\",\"history\",\"way\",\"art\",\"world\",\"information\",\"map\",\"family\",\"government\",\"health\",\"system\",\"computer\",\"meat\",\"year\",\"thanks\",\"music\",\"person\",\"reading\",\"method\",\"data\",\"food\",\"understanding\",\"theory\",\"law\",\"bird\",\"literature\",\"problem\",\"software\",\"control\",\"knowledge\",\"power\",\"ability\",\"economics\",\"love\",\"internet\",\"television\",\"science\",\"library\",\"nature\",\"fact\",\"product\",\"idea\",\"temperature\",\"investment\",\"area\",\"society\",\"activity\",\"story\",\"industry\",\"media\",\"thing\",\"oven\",\"community\",\"definition\",\"safety\",\"quality\",\"development\",\"language\",\"management\",\"player\",\"variety\",\"video\",\"week\",\"security\",\"country\",\"exam\",\"movie\",\"organization\",\"equipment\",\"physics\",\"analysis\",\"policy\",\"series\",\"thought\",\"basis\",\"boyfriend\",\"direction\",\"strategy\",\"technology\",\"army\",\"camera\",\"freedom\",\"paper\",\"environment\",\"child\",\"instance\",\"month\",\"truth\",\"marketing\",\"university\",\"writing\",\"article\",\"department\",\"difference\",\"goal\",\"news\",\"audience\",\"fishing\",\"growth\",\"income\",\"marriage\",\"user\",\"combination\",\"failure\",\"meaning\",\"medicine\",\"philosophy\",\"teacher\",\"communication\",\"night\",\"chemistry\",\"disease\",\"disk\",\"energy\",\"nation\",\"road\",\"role\",\"soup\",\"advertising\",\"location\",\"success\",\"addition\",\"apartment\",\"education\",\"math\",\"moment\",\"painting\",\"politics\",\"attention\",\"decision\",\"event\",\"property\",\"shopping\",\"student\",\"wood\",\"competition\",\"distribution\",\"entertainment\",\"office\",\"population\",\"president\",\"unit\",\"category\",\"cigarette\",\"context\",\"introduction\",\"opportunity\",\"performance\",\"driver\",\"flight\",\"length\",\"magazine\",\"newspaper\",\"relationship\",\"teaching\",\"cell\",\"dealer\",\"debate\",\"finding\",\"lake\",\"member\",\"message\",\"phone\",\"scene\",\"appearance\",\"association\",\"concept\",\"customer\",\"death\",\"discussion\",\"housing\",\"inflation\",\"insurance\",\"mood\",\"woman\",\"advice\",\"blood\",\"effort\",\"expression\",\"importance\",\"opinion\",\"payment\",\"reality\",\"responsibility\",\"situation\",\"skill\",\"statement\",\"wealth\",\"application\",\"city\",\"county\",\"depth\",\"estate\",\"foundation\",\"grandmother\",\"heart\",\"perspective\",\"photo\",\"recipe\",\"studio\",\"topic\",\"collection\",\"depression\",\"imagination\",\"passion\",\"percentage\",\"resource\",\"setting\",\"ad\",\"agency\",\"college\",\"connection\",\"criticism\",\"debt\",\"description\",\"memory\",\"patience\",\"secretary\",\"solution\",\"administration\",\"aspect\",\"attitude\",\"director\",\"personality\",\"psychology\",\"recommendation\",\"response\",\"selection\",\"storage\",\"version\",\"alcohol\",\"argument\",\"complaint\",\"contract\",\"emphasis\",\"highway\",\"loss\",\"membership\",\"possession\",\"preparation\",\"steak\",\"union\",\"agreement\",\"cancer\",\"currency\",\"employment\",\"engineering\",\"entry\",\"interaction\",\"limit\",\"mixture\",\"preference\",\"region\",\"republic\",\"seat\",\"tradition\",\"virus\",\"actor\",\"classroom\",\"delivery\",\"device\",\"difficulty\",\"drama\",\"election\",\"engine\",\"football\",\"guidance\",\"hotel\",\"match\",\"owner\",\"priority\",\"protection\",\"suggestion\",\"tension\",\"variation\",\"anxiety\",\"atmosphere\",\"awareness\",\"bread\",\"climate\",\"comparison\",\"confusion\",\"construction\",\"elevator\",\"emotion\",\"employee\",\"employer\",\"guest\",\"height\",\"leadership\",\"mall\",\"manager\",\"operation\",\"recording\",\"respect\",\"sample\",\"transportation\",\"boring\",\"charity\",\"cousin\",\"disaster\",\"editor\",\"efficiency\",\"excitement\",\"extent\",\"feedback\",\"guitar\",\"homework\",\"leader\",\"mom\",\"outcome\",\"permission\",\"presentation\",\"promotion\",\"reflection\",\"refrigerator\",\"resolution\",\"revenue\",\"session\",\"singer\",\"tennis\",\"basket\",\"bonus\",\"cabinet\",\"childhood\",\"church\",\"clothes\",\"coffee\",\"dinner\",\"drawing\",\"hair\",\"hearing\",\"initiative\",\"judgment\",\"lab\",\"measurement\",\"mode\",\"mud\",\"orange\",\"poetry\",\"police\",\"possibility\",\"procedure\",\"queen\",\"ratio\",\"relation\",\"restaurant\",\"satisfaction\",\"sector\",\"signature\",\"significance\",\"song\",\"tooth\",\"town\",\"vehicle\",\"volume\",\"wife\",\"accident\",\"airport\",\"appointment\",\"arrival\",\"assumption\",\"baseball\",\"chapter\",\"committee\",\"conversation\",\"database\",\"enthusiasm\",\"error\",\"explanation\",\"farmer\",\"gate\",\"girl\",\"hall\",\"historian\",\"hospital\",\"injury\",\"instruction\",\"maintenance\",\"manufacturer\",\"meal\",\"perception\",\"pie\",\"poem\",\"presence\",\"proposal\",\"reception\",\"replacement\",\"revolution\",\"river\",\"son\",\"speech\",\"tea\",\"village\",\"warning\",\"winner\",\"worker\",\"writer\",\"assistance\",\"breath\",\"buyer\",\"chest\",\"chocolate\",\"conclusion\",\"contribution\",\"cookie\",\"courage\",\"desk\",\"drawer\",\"establishment\",\"examination\",\"garbage\",\"grocery\",\"honey\",\"impression\",\"improvement\",\"independence\",\"insect\",\"inspection\",\"inspector\",\"king\",\"ladder\",\"menu\",\"penalty\",\"piano\",\"potato\",\"profession\",\"professor\",\"quantity\",\"reaction\",\"requirement\",\"salad\",\"sister\",\"supermarket\",\"tongue\",\"weakness\",\"wedding\",\"affair\",\"ambition\",\"analyst\",\"apple\",\"assignment\",\"assistant\",\"bathroom\",\"bedroom\",\"beer\",\"birthday\",\"celebration\",\"championship\",\"cheek\",\"client\",\"consequence\",\"departure\",\"diamond\",\"dirt\",\"ear\",\"fortune\",\"friendship\",\"funeral\",\"gene\",\"girlfriend\",\"hat\",\"indication\",\"intention\",\"lady\",\"midnight\",\"negotiation\",\"obligation\",\"passenger\",\"pizza\",\"platform\",\"poet\",\"pollution\",\"recognition\",\"reputation\",\"shirt\",\"speaker\",\"stranger\",\"surgery\",\"sympathy\",\"tale\",\"throat\",\"trainer\",\"uncle\",\"youth\",\"time\",\"work\",\"film\",\"water\",\"money\",\"example\",\"while\",\"business\",\"study\",\"game\",\"life\",\"form\",\"air\",\"day\",\"place\",\"number\",\"part\",\"field\",\"fish\",\"back\",\"process\",\"heat\",\"hand\",\"experience\",\"job\",\"book\",\"end\",\"point\",\"type\",\"home\",\"economy\",\"value\",\"body\",\"market\",\"guide\",\"interest\",\"state\",\"radio\",\"course\",\"company\",\"price\",\"size\",\"card\",\"list\",\"mind\",\"trade\",\"line\",\"care\",\"group\",\"risk\",\"word\",\"fat\",\"force\",\"key\",\"light\",\"training\",\"name\",\"school\",\"top\",\"amount\",\"level\",\"order\",\"practice\",\"research\",\"sense\",\"service\",\"piece\",\"web\",\"boss\",\"sport\",\"fun\",\"house\",\"page\",\"term\",\"test\",\"answer\",\"sound\",\"focus\",\"matter\",\"kind\",\"soil\",\"board\",\"oil\",\"picture\",\"access\",\"garden\",\"range\",\"rate\",\"reason\",\"future\",\"site\",\"demand\",\"exercise\",\"image\",\"case\",\"cause\",\"coast\",\"action\",\"age\",\"bad\",\"boat\",\"record\",\"result\",\"section\",\"building\",\"mouse\",\"cash\",\"class\",\"period\",\"plan\",\"store\",\"tax\",\"side\",\"subject\",\"space\",\"rule\",\"stock\",\"weather\",\"chance\",\"figure\",\"man\",\"model\",\"source\",\"beginning\",\"earth\",\"program\",\"chicken\",\"design\",\"feature\",\"head\",\"material\",\"purpose\",\"question\",\"rock\",\"salt\",\"act\",\"birth\",\"car\",\"dog\",\"object\",\"scale\",\"sun\",\"note\",\"profit\",\"rent\",\"speed\",\"style\",\"war\",\"bank\",\"craft\",\"half\",\"inside\",\"outside\",\"standard\",\"bus\",\"exchange\",\"eye\",\"fire\",\"position\",\"pressure\",\"stress\",\"advantage\",\"benefit\",\"box\",\"frame\",\"issue\",\"step\",\"cycle\",\"face\",\"item\",\"metal\",\"paint\",\"review\",\"room\",\"screen\",\"structure\",\"view\",\"account\",\"ball\",\"discipline\",\"medium\",\"share\",\"balance\",\"bit\",\"black\",\"bottom\",\"choice\",\"gift\",\"impact\",\"machine\",\"shape\",\"tool\",\"wind\",\"address\",\"average\",\"career\",\"culture\",\"morning\",\"pot\",\"sign\",\"table\",\"task\",\"condition\",\"contact\",\"credit\",\"egg\",\"hope\",\"ice\",\"network\",\"north\",\"square\",\"attempt\",\"date\",\"effect\",\"link\",\"post\",\"star\",\"voice\",\"capital\",\"challenge\",\"friend\",\"self\",\"shot\",\"brush\",\"couple\",\"exit\",\"front\",\"function\",\"lack\",\"living\",\"plant\",\"plastic\",\"spot\",\"summer\",\"taste\",\"theme\",\"track\",\"wing\",\"brain\",\"button\",\"click\",\"desire\",\"foot\",\"gas\",\"influence\",\"notice\",\"rain\",\"wall\",\"base\",\"damage\",\"distance\",\"feeling\",\"pair\",\"savings\",\"staff\",\"sugar\",\"target\",\"text\",\"animal\",\"author\",\"budget\",\"discount\",\"file\",\"ground\",\"lesson\",\"minute\",\"officer\",\"phase\",\"reference\",\"register\",\"sky\",\"stage\",\"stick\",\"title\",\"trouble\",\"bowl\",\"bridge\",\"campaign\",\"character\",\"club\",\"edge\",\"evidence\",\"fan\",\"letter\",\"lock\",\"maximum\",\"novel\",\"option\",\"pack\",\"park\",\"quarter\",\"skin\",\"sort\",\"weight\",\"baby\",\"background\",\"carry\",\"dish\",\"factor\",\"fruit\",\"glass\",\"joint\",\"master\",\"muscle\",\"red\",\"strength\",\"traffic\",\"trip\",\"vegetable\",\"appeal\",\"chart\",\"gear\",\"ideal\",\"kitchen\",\"land\",\"log\",\"mother\",\"net\",\"party\",\"principle\",\"relative\",\"sale\",\"season\",\"signal\",\"spirit\",\"street\",\"tree\",\"wave\",\"belt\",\"bench\",\"commission\",\"copy\",\"drop\",\"minimum\",\"path\",\"progress\",\"project\",\"sea\",\"south\",\"status\",\"stuff\",\"ticket\",\"tour\",\"angle\",\"blue\",\"breakfast\",\"confidence\",\"daughter\",\"degree\",\"doctor\",\"dot\",\"dream\",\"duty\",\"essay\",\"father\",\"fee\",\"finance\",\"hour\",\"juice\",\"luck\",\"milk\",\"mouth\",\"peace\",\"pipe\",\"stable\",\"storm\",\"substance\",\"team\",\"trick\",\"afternoon\",\"bat\",\"beach\",\"blank\",\"catch\",\"chain\",\"consideration\",\"cream\",\"crew\",\"detail\",\"gold\",\"interview\",\"kid\",\"mark\",\"mission\",\"pain\",\"pleasure\",\"score\",\"screw\",\"sex\",\"shop\",\"shower\",\"suit\",\"tone\",\"window\",\"agent\",\"band\",\"bath\",\"block\",\"bone\",\"calendar\",\"candidate\",\"cap\",\"coat\",\"contest\",\"corner\",\"court\",\"cup\",\"district\",\"door\",\"east\",\"finger\",\"garage\",\"guarantee\",\"hole\",\"hook\",\"implement\",\"layer\",\"lecture\",\"lie\",\"manner\",\"meeting\",\"nose\",\"parking\",\"partner\",\"profile\",\"rice\",\"routine\",\"schedule\",\"swimming\",\"telephone\",\"tip\",\"winter\",\"airline\",\"bag\",\"battle\",\"bed\",\"bill\",\"bother\",\"cake\",\"code\",\"curve\",\"designer\",\"dimension\",\"dress\",\"ease\",\"emergency\",\"evening\",\"extension\",\"farm\",\"fight\",\"gap\",\"grade\",\"holiday\",\"horror\",\"horse\",\"host\",\"husband\",\"loan\",\"mistake\",\"mountain\",\"nail\",\"noise\",\"occasion\",\"package\",\"patient\",\"pause\",\"phrase\",\"proof\",\"race\",\"relief\",\"sand\",\"sentence\",\"shoulder\",\"smoke\",\"stomach\",\"string\",\"tourist\",\"towel\",\"vacation\",\"west\",\"wheel\",\"wine\",\"arm\",\"aside\",\"associate\",\"bet\",\"blow\",\"border\",\"branch\",\"breast\",\"brother\",\"buddy\",\"bunch\",\"chip\",\"coach\",\"cross\",\"document\",\"draft\",\"dust\",\"expert\",\"floor\",\"god\",\"golf\",\"habit\",\"iron\",\"judge\",\"knife\",\"landscape\",\"league\",\"mail\",\"mess\",\"native\",\"opening\",\"parent\",\"pattern\",\"pin\",\"pool\",\"pound\",\"request\",\"salary\",\"shame\",\"shelter\",\"shoe\",\"silver\",\"tackle\",\"tank\",\"trust\",\"assist\",\"bake\",\"bar\",\"bell\",\"bike\",\"blame\",\"boy\",\"brick\",\"chair\",\"closet\",\"clue\",\"collar\",\"comment\",\"conference\",\"devil\",\"diet\",\"fear\",\"fuel\",\"glove\",\"jacket\",\"lunch\",\"monitor\",\"mortgage\",\"nurse\",\"pace\",\"panic\",\"peak\",\"plane\",\"reward\",\"row\",\"sandwich\",\"shock\",\"spite\",\"spray\",\"surprise\",\"till\",\"transition\",\"weekend\",\"welcome\",\"yard\",\"alarm\",\"bend\",\"bicycle\",\"bite\",\"blind\",\"bottle\",\"cable\",\"candle\",\"clerk\",\"cloud\",\"concert\",\"counter\",\"flower\",\"grandfather\",\"harm\",\"knee\",\"lawyer\",\"leather\",\"load\",\"mirror\",\"neck\",\"pension\",\"plate\",\"purple\",\"ruin\",\"ship\",\"skirt\",\"slice\",\"snow\",\"specialist\",\"stroke\",\"switch\",\"trash\",\"tune\",\"zone\",\"anger\",\"award\",\"bid\",\"bitter\",\"boot\",\"bug\",\"camp\",\"candy\",\"carpet\",\"cat\",\"champion\",\"channel\",\"clock\",\"comfort\",\"cow\",\"crack\",\"engineer\",\"entrance\",\"fault\",\"grass\",\"guy\",\"hell\",\"highlight\",\"incident\",\"island\",\"joke\",\"jury\",\"leg\",\"lip\",\"mate\",\"motor\",\"nerve\",\"passage\",\"pen\",\"pride\",\"priest\",\"prize\",\"promise\",\"resident\",\"resort\",\"ring\",\"roof\",\"rope\",\"sail\",\"scheme\",\"script\",\"sock\",\"station\",\"toe\",\"tower\",\"truck\",\"witness\",\"can\",\"will\",\"other\",\"use\",\"make\",\"good\",\"look\",\"help\",\"go\",\"great\",\"being\",\"still\",\"public\",\"read\",\"keep\",\"start\",\"give\",\"human\",\"local\",\"general\",\"specific\",\"long\",\"play\",\"feel\",\"high\",\"put\",\"common\",\"set\",\"change\",\"simple\",\"past\",\"big\",\"possible\",\"particular\",\"major\",\"personal\",\"current\",\"national\",\"cut\",\"natural\",\"physical\",\"show\",\"try\",\"check\",\"second\",\"call\",\"move\",\"pay\",\"let\",\"increase\",\"single\",\"individual\",\"turn\",\"ask\",\"buy\",\"guard\",\"hold\",\"main\",\"offer\",\"potential\",\"professional\",\"international\",\"travel\",\"cook\",\"alternative\",\"special\",\"working\",\"whole\",\"dance\",\"excuse\",\"cold\",\"commercial\",\"low\",\"purchase\",\"deal\",\"primary\",\"worth\",\"fall\",\"necessary\",\"positive\",\"produce\",\"search\",\"present\",\"spend\",\"talk\",\"creative\",\"tell\",\"cost\",\"drive\",\"green\",\"support\",\"glad\",\"remove\",\"return\",\"run\",\"complex\",\"due\",\"effective\",\"middle\",\"regular\",\"reserve\",\"independent\",\"leave\",\"original\",\"reach\",\"rest\",\"serve\",\"watch\",\"beautiful\",\"charge\",\"active\",\"break\",\"negative\",\"safe\",\"stay\",\"visit\",\"visual\",\"affect\",\"cover\",\"report\",\"rise\",\"walk\",\"white\",\"junior\",\"pick\",\"unique\",\"classic\",\"final\",\"lift\",\"mix\",\"private\",\"stop\",\"teach\",\"western\",\"concern\",\"familiar\",\"fly\",\"official\",\"broad\",\"comfortable\",\"gain\",\"rich\",\"save\",\"stand\",\"young\",\"heavy\",\"lead\",\"listen\",\"valuable\",\"worry\",\"handle\",\"leading\",\"meet\",\"release\",\"sell\",\"finish\",\"normal\",\"press\",\"ride\",\"secret\",\"spread\",\"spring\",\"tough\",\"wait\",\"brown\",\"deep\",\"display\",\"flow\",\"hit\",\"objective\",\"shoot\",\"touch\",\"cancel\",\"chemical\",\"cry\",\"dump\",\"extreme\",\"push\",\"conflict\",\"eat\",\"fill\",\"formal\",\"jump\",\"kick\",\"opposite\",\"pass\",\"pitch\",\"remote\",\"total\",\"treat\",\"vast\",\"abuse\",\"beat\",\"burn\",\"deposit\",\"print\",\"raise\",\"sleep\",\"somewhere\",\"advance\",\"consist\",\"dark\",\"double\",\"draw\",\"equal\",\"fix\",\"hire\",\"internal\",\"join\",\"kill\",\"sensitive\",\"tap\",\"win\",\"attack\",\"claim\",\"constant\",\"drag\",\"drink\",\"guess\",\"minor\",\"pull\",\"raw\",\"soft\",\"solid\",\"wear\",\"weird\",\"wonder\",\"annual\",\"count\",\"dead\",\"doubt\",\"feed\",\"forever\",\"impress\",\"repeat\",\"round\",\"sing\",\"slide\",\"strip\",\"wish\",\"combine\",\"command\",\"dig\",\"divide\",\"equivalent\",\"hang\",\"hunt\",\"initial\",\"march\",\"mention\",\"spiritual\",\"survey\",\"tie\",\"adult\",\"brief\",\"crazy\",\"escape\",\"gather\",\"hate\",\"prior\",\"repair\",\"rough\",\"sad\",\"scratch\",\"sick\",\"strike\",\"employ\",\"external\",\"hurt\",\"illegal\",\"laugh\",\"lay\",\"mobile\",\"nasty\",\"ordinary\",\"respond\",\"royal\",\"senior\",\"split\",\"strain\",\"struggle\",\"swim\",\"train\",\"upper\",\"wash\",\"yellow\",\"convert\",\"crash\",\"dependent\",\"fold\",\"funny\",\"grab\",\"hide\",\"miss\",\"permit\",\"quote\",\"recover\",\"resolve\",\"roll\",\"sink\",\"slip\",\"spare\",\"suspect\",\"sweet\",\"swing\",\"twist\",\"upstairs\",\"usual\",\"abroad\",\"brave\",\"calm\",\"concentrate\",\"estimate\",\"grand\",\"male\",\"mine\",\"prompt\",\"quiet\",\"refuse\",\"regret\",\"reveal\",\"rush\",\"shake\",\"shift\",\"shine\",\"steal\",\"suck\",\"surround\",\"bear\",\"brilliant\",\"dare\",\"dear\",\"delay\",\"drunk\",\"female\",\"hurry\",\"inevitable\",\"invite\",\"kiss\",\"neat\",\"pop\",\"punch\",\"quit\",\"reply\",\"representative\",\"resist\",\"rip\",\"rub\",\"silly\",\"smile\",\"spell\",\"stretch\",\"stupid\",\"tear\",\"temporary\",\"tomorrow\",\"wake\",\"wrap\",\"yesterday\",\"Thomas\",\"Tom\",\"Lieuwe\"];\n\tvar face = getRandomInt(0, 100);\n\nif(face>=70){\n    var name = capFirst(name1[getRandomIndex(0, name1.length + 1)]) + ' ' + capFirst(name2[getRandomIndex(0, name2.length + 1)]);\n    msg.payload=\"Face Detected \\t\"+name;\n   return msg;\n}\nelse{\n    msg.payload=\"\";\n   return msg;\n}\n\n","outputs":1,"noerr":0,"x":400,"y":120,"wires":[["bd4f8e7b.b1851"]]},{"id":"cf603679.e35ae","type":"mqtt in","z":"659dff53.1f7828","name":"Subscribe-Doors","topic":"home/#","qos":"0","datatype":"auto","broker":"b0c8c674.acae2","x":140,"y":140,"wires":[["4580c466.d410fc"]]},{"id":"4580c466.d410fc","type":"function","z":"659dff53.1f7828","name":"","func":"if(msg.topic===\"home/window1\"){\n    if(msg.payload===\"ON\"){\n        msg.payload=\"Opened\";\n    }\n    else{\n        msg.payload=\"Closed\";\n    }\n    return [msg,null,null,null];\n}\n\nelse if(msg.topic===\"home/window2\"){\n    if(msg.payload===\"ON\"){\n        msg.payload=\"Opened\";\n    }\n    else{\n        msg.payload=\"Closed\";\n    }\n    return [null,msg,null,null];\n}\n\nelse if(msg.topic===\"home/door1\"){\n    if(msg.payload===\"ON\"){\n        msg.payload=\"Opened\";\n    }\n    else{\n        msg.payload=\"Closed\";\n    }\n    return [null,null,msg,null];\n}\n\nelse if(msg.topic===\"home/door2\"){\n    if(msg.payload===\"ON\"){\n        msg.payload=\"Opened\";\n    }\n    else{\n        msg.payload=\"Closed\";\n    }\n    return [null,null,null,msg];\n}","outputs":4,"noerr":0,"x":350,"y":160,"wires":[["ab891f1f.6529e"],["d3ab8684.f7313"],["95737d42.07071"],["80840a1b.4a4578"]]},{"id":"ab891f1f.6529e","type":"ui_text","z":"659dff53.1f7828","group":"ed3d85c6.fa598","order":1,"width":0,"height":0,"name":"Window1","label":"Window1","format":"{{msg.payload}}","layout":"row-spread","x":580,"y":60,"wires":[]},{"id":"d3ab8684.f7313","type":"ui_text","z":"659dff53.1f7828","group":"ed3d85c6.fa598","order":2,"width":0,"height":0,"name":"Window2","label":"Window2","format":"{{msg.payload}}","layout":"row-spread","x":580,"y":120,"wires":[]},{"id":"95737d42.07071","type":"ui_text","z":"659dff53.1f7828","group":"ed3d85c6.fa598","order":3,"width":0,"height":0,"name":"Door1","label":"Door1","format":"{{msg.payload}}","layout":"row-spread","x":570,"y":180,"wires":[]},{"id":"80840a1b.4a4578","type":"ui_text","z":"659dff53.1f7828","group":"ed3d85c6.fa598","order":4,"width":0,"height":0,"name":"Door2","label":"Door2","format":"{{msg.payload}}","layout":"row-spread","x":570,"y":240,"wires":[]},{"id":"bd4f8e7b.b1851","type":"mqtt out","z":"2059ab5d.4f3804","name":"","topic":"home/face","qos":"0","retain":"","broker":"b0c8c674.acae2","x":630,"y":120,"wires":[]},{"id":"d7bb84a8.96e428","type":"mqtt out","z":"6f039fb4.abf108","name":"","topic":"","qos":"","retain":"","broker":"b0c8c674.acae2","x":350,"y":140,"wires":[]},{"id":"df437087.6c7808","type":"ui_switch","z":"6f039fb4.abf108","name":"","label":"switch1","tooltip":"","group":"1d38a221.40a05e","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"home/window1","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":120,"y":60,"wires":[["d7bb84a8.96e428"]]},{"id":"74d7723d.f64634","type":"ui_switch","z":"6f039fb4.abf108","name":"","label":"switch2","tooltip":"","group":"1d38a221.40a05e","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"home/window2","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":120,"y":120,"wires":[["d7bb84a8.96e428"]]},{"id":"e62707fc.293b","type":"ui_switch","z":"6f039fb4.abf108","name":"","label":"switch3","tooltip":"","group":"1d38a221.40a05e","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"home/door1","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":110,"y":180,"wires":[["d7bb84a8.96e428"]]},{"id":"14dcbf85.54b838","type":"ui_switch","z":"6f039fb4.abf108","name":"","label":"switch4","tooltip":"","group":"1d38a221.40a05e","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"home/door2","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":110,"y":240,"wires":[["d7bb84a8.96e428"]]},{"id":"2530bddc.e0b602","type":"mqtt in","z":"85bf3239.daa2a","name":"Subscriobe-person","topic":"person/#","qos":"0","datatype":"auto","broker":"b0c8c674.acae2","x":110,"y":640,"wires":[["43ac350d.73e834"]]},{"id":"43ac350d.73e834","type":"function","z":"85bf3239.daa2a","name":"Person Info","func":"if(msg.topic===\"person/name\"){\n    return [msg,null,null,null];\n}\nelse if(msg.topic===\"person/stepcount\"){\n    return [null,msg,null,null];\n}\nelse if(msg.topic===\"person/heartrate\"){\n    return [null,null,msg,null];\n}\nelse if(msg.topic===\"person/glucoselevel\"){\n    return [null,null,null,msg];\n}","outputs":4,"noerr":0,"x":340,"y":660,"wires":[["2d5fff09.f402f"],["6142112d.3d22d8"],["b7f5d280.da463"],["c26dac96.c3665"]]},{"id":"2d5fff09.f402f","type":"ui_text","z":"85bf3239.daa2a","group":"8bb2ba54.34f45","order":1,"width":0,"height":0,"name":"Person","label":"Name:","format":"{{msg.payload}}","layout":"row-spread","x":540,"y":560,"wires":[]},{"id":"6142112d.3d22d8","type":"ui_text","z":"85bf3239.daa2a","group":"8bb2ba54.34f45","order":2,"width":0,"height":0,"name":"Step-count","label":"Step-Count:","format":"{{msg.payload}}","layout":"row-spread","x":560,"y":640,"wires":[]},{"id":"b7f5d280.da463","type":"ui_text","z":"85bf3239.daa2a","group":"8bb2ba54.34f45","order":3,"width":0,"height":0,"name":"Heartrate","label":"Heartrate:","format":"{{msg.payload}}","layout":"row-spread","x":540,"y":720,"wires":[]},{"id":"c26dac96.c3665","type":"ui_text","z":"85bf3239.daa2a","group":"8bb2ba54.34f45","order":4,"width":0,"height":0,"name":"Glucoselevel","label":"Glucose-Level:","format":"{{msg.payload}}","layout":"row-spread","x":550,"y":800,"wires":[]},{"id":"bb9e50f8.737b68","type":"mqtt in","z":"85bf3239.daa2a","name":"Subscribe-Smoke","topic":"home/smoke","qos":"0","datatype":"auto","broker":"b0c8c674.acae2","x":860,"y":620,"wires":[["cd483c47.5ef7d8"]]},{"id":"cd483c47.5ef7d8","type":"ui_text","z":"85bf3239.daa2a","group":"e3a4ae73.9cfcd8","order":1,"width":0,"height":0,"name":"smoke-status","label":"Smoke Status","format":"{{msg.payload}}","layout":"row-spread","x":1170,"y":620,"wires":[]},{"id":"845a6b19.5b3048","type":"ui_text","z":"85bf3239.daa2a","group":"991746a1.de95d","order":1,"width":0,"height":0,"name":"facedetect","label":"Face Detection","format":"{{msg.payload}}","layout":"row-spread","x":1170,"y":740,"wires":[]},{"id":"66d74c27.0467a4","type":"mqtt in","z":"85bf3239.daa2a","name":"","topic":"home/face","qos":"0","datatype":"auto","broker":"b0c8c674.acae2","x":870,"y":780,"wires":[["845a6b19.5b3048"]]}]